
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>تأكيد حذف الإستبيان  </h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr class="">
                    <th>الرقم</th>
                    <td>8956</td>
                </tr>
                <tr>
                    <th>الإسم</th>
                    <td> إستبيان</td>
                </tr>
                <tr>
                    <th>وصف</th>
                    <td>مشغول</td>
                </tr>
                <tr>
                    <th>بداية النشر</th>
                    <td>ايحين ماشتى</td>
                </tr>
                 <tr>
                    <th>نهاية النشر</th>
                    <td> مالك دخل</td>
                </tr>
                 <tr>
                    <th>تاريخ الإنشاء</th>
                    <td>عندما قام</td>
                </tr>
                 <tr>
                    <th>أخر تعديل</th>
                    <td> تنلبن</td>
                </tr>
               
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger btn-rounded  "  asp-controller="Survey" asp-action="DeleteSurvey">تأكيد</a>
            <a class="btn btn-primary btn-rounded mx-3" asp-controller="Survey" asp-action="GetSurveys">رجوع</a>
        </div>
    </div>
</div>