@model APSS.Web.Dtos.LandProductDto
@{
    ViewData["title"] = "Update land product page";
}
<div class="container-fluid w-100">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-8">
        <div class="  shadow-sm pb-3">
            <form class=" mt-3 align-items-center needs-validation" method="post" asp-controller="LandProduct" asp-action="Update" novalidate>
                <input type="hidden" asp-for="landId" />
                <input type="hidden" asp-for="SeasonId" />
                <input type="hidden" asp-for="UnitId" />
                <div asp-validation-summary="ModelOnly"></div>
                <div class="center d-flex justify-content-center mb-3 ">
                    <h3 class=" ">
                        Update Land Product
                    </h3>
                </div>
                <!-- row 1 -->
                <div class="row mb-lg-4 justify-content-between  ">

                    <div class="col-sm-6 mb-3 flex-column form-group ">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <select class="form-select" asp-for="SeasonId" asp-items="@(new SelectList(Model?.Seasons,"Id","Name"))">
                                    <option selected> select season</option>
                                </select>
                                <label asp-for="Seasons" class="form-label textOverflow"> Select Season</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <select class="form-select" asp-for="UnitId" asp-items="@(new SelectList(Model?.Units,"Id","Name"))">
                                    <option selected>Select Product Unit</option>
                                </select>
                                <label asp-for="Unit" class="form-label textOverflow"> Select Product Unit</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row mb-lg-4 d-flex justify-content-between  ">
                    <div class="col-sm-6 mb-3 flex-column form-group">
                        <div class="input-group">
                            <span class="input-group-text">@@</span>
                            <div class="form-floating col">
                                <input type="text" asp-for="CropName" class="form-control" placeholder=" " />
                                <label class="form-label textOverflow" asp-for="CropName"></label>
                                <div class="invalid-feedback">
                                    <span asp-validation-for="CropName"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 flex-column form-group">
                        <div class="input-group">
                            <span class="input-group-text">@@</span>
                            <div class="form-floating col">
                                <input type="text" asp-for="Quantity" class="form-control" />
                                <label asp-for="Quantity" class="form-label textOverflow"></label>
                                <div class="invalid-feedback">
                                    <span asp-validation-for="Quantity"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->

                    <div class=" col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <select class="form-select" name="irrigationPowerSource" aria-label="water source power" id="">
                                    <option value="none">None</option>
                                    <option value="Renewable"> Renewable</option>
                                    <option value="FossileFuel">FossileFuel</option>
                                </select>
                                <label for="irrigationPowerSource" class="form-label textOverflow">Water  power Source</label>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class=" col-sm-6 mt-3 flex-column d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <select class="form-select" name="irrigationWaterSource" aria-label="water source" id="">
                                    <option value="Natural">Natural</option>
                                    <option value="HumanStored"> HumanStored</option>
                                    <option value="OnDemand">OnDemand</option>
                                </select>
                                <label for="irrigationWaterSource" class="form-label textOverflow">Water Source</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 4 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class=" col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" asp-for="IrrigationMethod" class="form-control" placeholder=" " />
                                <label asp-for="IrrigationMethod" class="form-label textOverflow"></label>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" class="form-control" asp-for="StoringMethod" placeholder=" " />
                                <label asp-for="StoringMethod" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 5 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" asp-for="Fertilizer" class="form-control" placeholder=" " />
                                <label asp-for="Fertilizer" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" asp-for="Category" class="form-control" placeholder=" " />
                                <label asp-for="Category" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 6 -->
                <!-- row 7 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex ">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" name="insecticideName" class="form-control" placeholder="" />
                                <label for="insecticideName" class="form-label">Insecticide Name</label>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex ">
                        <div class="input-group">
                            <span class="input-group-text">#</span>
                            <div class="form-floating col">
                                <input type="text" class="form-control" asp-for="IrrigationMethod" placeholder=" " />
                                <label asp-for="IrrigationMethod" class="form-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row 8 -->
                <div class="row justify-content-between ">
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">

                        <div class="form-check-inline ">
                            <h5 class="label-inline textOverflow"><label asp-for="IsGovernmentFunded"></label></h5>
                        </div>
                        <!--used -->
                        <div class="form-check   ">
                            <input class="form-check-input hiden" type="radio" asp-for="IsGovernmentFunded" value="true" />
                            <label class="form-check-label" asp-for="IsGovernmentFunded">Yes</label>
                        </div>
                        <!--unused -->
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" value="false" asp-for="IsGovernmentFunded" checked />
                            <label class="form-check-label" asp-for="IsGovernmentFunded"> No </label>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-check-inline ">
                            <h5 class="label-inline textOverflow"><label asp-for="HasGreenhouse"></label></h5>
                        </div>
                        <!--used -->
                        <div class="form-check form-check-inline offset-xl-5">
                            <input class="form-check-input hiden" type="radio" asp-for="HasGreenhouse" value="true" />
                            <label class="form-check-label" asp-for="HasGreenhouse"> Yes </label>
                        </div>
                        <!--unused -->
                        <div class="form-check form-check-inline offset-xl-5">
                            <input class="form-check-input" type="radio" value="false" asp-for="HasGreenhouse" checked />
                            <label class="form-check-label" asp-for="HasGreenhouse"> No </label>
                        </div>
                    </div>
                </div>
                <!-- row 9 -->
                <div class="row justify-content-between   mt-3"></div>
                <button class="btn btn-primary  "><i class="fa-solid fa-plus"></i>Update</button>
            </form>
        </div>
    </div>
</div>