@model APSS.Web.Dtos.AnimalProductUnitDto
<div class="container-fluid">
    <div class="row d-flex col-sm-12 col-lg-5   mx-lg-4 mx-sm-2">
        <form class=" mt-3 " asp-controller="Units" asp-action="EditUnit">
            <div asp-validation-summary="ModelOnly"></div>
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class="">
                    اضافة وحدة
                </h3>
            </div>
            <!-- Text input for user name-->
            <div class="mb-4  ">
                <div class="form-floating">
                <input type="text" id="user_name" asp-for="Name" class="form-control" placeholder="name" />
                <label class="" asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary   mt-4">اضافة</button>
                <a onClick="history.go(-1); return false;" class="btn btn-link   mx-2" style="background-color:#DCEEFB">الغاء</a>
            </div>
            <!-- Submit button -->
        </form>
    </div>
</div>