@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar  navbar-expand-lg  navbar-expand-md py-0  rounded my-1 mx-0 shadow-sm ">
    <div class="container mx-0  ">

        <div class="d-flex justify-content-between d-md-none d-block w-100 mx-0 ">

            <div class="scrollmenu w-100  scrollmenu">
                     <a asp-controller="Users" asp-action="Index" class="styles actives" id="userMedia">Areas</a>
                     <a asp-controller="Accounts" asp-action="Index" class="" id="accountMedia"> Employees </a>
            </div>
        </div>

        <div class="collapse navbar-collapse mx-0 manage-ment " id="navbarScroll">
            <div class="d-flex justify-content-end nav-style ">
                <ul class="navbar-nav me-auto  my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                    <li class="nav-item ">
                        <a class="nav-link pt-3 actives  fw-bold   " id="users" aria-current="page" asp-controller="Users" asp-action="Index">Areas</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link  pt-3 fw-bold " id="accounts" asp-controller="Accounts" asp-action="Index">Employees</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
@section secripts{
<script>

      $(".manage-ment  ul li a").on('click',function(){
      $(".manage-ment  ul li a.actives").removeClass('actives');

        });
            $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });

    });
       $(".scrollmenu a").on('click',function(){
          $(".scrollmenu a.actives").removeClass('actives');
          $(this).addClass('actives')
      });
      document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
      document.getElementById("media-system-name").innerHTML="ادارة الموظفين";
</script>
}