@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg navbar-expand-md  py-0  my-1  mx-0 shadow-sm ">
    <div class="container-fluid mx-0 px-0 ">
        <div class="d-flex justify-content-between d-md-none d-block w-100 mx-0 ">

            <div class="scrollmenu w-100 mx-0">
                <a id="animalMedia" class="MediaActive" asp-controller="Groups" asp-action="Index">Animal Groups</a>
                <a id="animalProductMedia" class="" asp-controller="AnimalProduct" asp-action="Index"> Animal Product  </a>
                <a id="" class="" asp-controller="Land" asp-action="Index"> Lands </a>
                <a id="" class="" asp-controller="LandProducts" asp-action="Index">  Land Products </a>
                <a id="" class="" asp-controller="Confirmation" asp-action="Index">  Confirmation  </a>
                <a id="" class="" asp-controller="Units" asp-action="Index">   Units </a>
            </div>
        </div>

        <div class="collapse navbar-collapse mx-0 manage-ment nav-style px-2" id="navbarScroll">
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav me-auto  my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item ">
                        <a class="nav-link pt-3 actives " id="animalGroups" asp-controller="Groups" aria-current="page" asp-action="Index">Animal Groups</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link  pt-3" id="animalProducts" asp-controller="Products" asp-action="Index"> Animal Product</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link pt-3" id="lands" asp-controller="Land" asp-action="Index">Lands</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link pt-3" id="landProducts" asp-controller="LandProduct" asp-action="Index"> Land Products</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link pt-3" id="confirmation" asp-controller="Confirmation" asp-action="Index"> Confirmation </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link pt-3" id="units" asp-controller="Units" asp-action="Index"> Units </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
@section scripts{
<script>

    $(".manage-ment  ul li a").on('click',function(){
    $(".manage-ment  ul li a.actives").removeClass('actives');
      });      $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $(this).addClass('actives')
    });
    document.getElementById("nav-system-name").innerHTML="ادارة البيانات";
    document.getElementById("media-system-name").innerHTML="ادارة البيانات";
</script>
}