@{
    if (User.Identity is null)
    {
        Context.Response.Redirect("/Auth/SignIn");
        return;
    }
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/resources/planting.png">
    <title>@ViewData["Title"] - APSS</title>
    <link rel="stylesheet"
          -moz-text-size-adjust href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    @*   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/APSS.Web.Mvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body onload="myFunction()">

    <!-- main div  -->
    <div class="main-container d-flex vh-100 ">
        <!-- start sidebar  -->
        <div class="sidebar  overflow-scroll   " id="side_nav">

            <div class="header-box px-2 pt-3  d-flex justify-content-between mt-2 ">
                <h1 class="fs-4 "><span class=" bg-white  rounded shadow p-3 m-2 T-Color-custom"><img src="~/resources/planting.png" style="width:50px;height:50px" /></span> <span class=" T-Color-custom" style="font-size:18px">المسح الزراعي</span></h1>
                <button class="btn btn-link text-decoration-none d-block d-md-none  close-btn px-1 py-0 "><i class="fa-solid fa-circle-chevron-left fs-3 text-dark"></i></button>
            </div>
            <span class="T-Color-custom mb-2 mx-3" style="font-size:18px">الاتحاد التعاوني الزراعي</span>
            <br />
            <hr />
            <ul class="list-unstyle px-2 ">
                <li class="" id="dashBoard"><a asp-action="Index" asp-controller="Home" class="text-decoration-none px-2 py-2 my-1 d-block"><i class="fa-solid fa-house px-2 fa-lg"></i>  Main Page</a></li>
                <li class="" id="accountManagement"><a asp-action="Index" asp-controller="Users" class="text-decoration-none px-2 py-2 my-1 d-block"><i class="fa-solid fa-users px-2 fa-lg"></i> Employees Management  </a></li>

                <li class="" id="dataManagement"><a asp-action="Index" asp-controller="AnimalGroup" class="text-decoration-none px-2 my-1 py-2 d-block"><i class="fa-solid fa-database px-2 fa-lg"></i> Data Managament  </a></li>
                <li class="" id="surveyManagement"><a href="#" class="text-decoration-none px-2 my-1 py-2 d-block"><i class="fa-solid fa-circle-question px-2 fa-lg"></i> Survey Management  </a></li>
            </ul>

            <hr class="mx-2">
            <ul class="list-unstyled px-2">
                <li class="">
                    <a href="#" class="text-decoration-none  px-3 py-2 d-block ">
                        <i class="fa-solid fa-gear px-2 fa-lg"></i>
                        Settings
                    </a>
                </li>

                <li class="">
                    <a class="text-decoration-none px-3 py-2 d-flex justify-content-between">
                        <span><i class="bi bi-bell-fill fa-lg px-2"></i> Notification</span>
                        <span class="bg-dark text-white rounded-pill py-0 px-2">02</span>
                    </a>
                </li>
            </ul>
            <hr>

            <div class="sidebarSystem">
                <div class="menu">

                    <div class="item ">

                        <a href="#sub" id="drops" class=" text-decoration-none  systems-style dropdown-toggole px-2 py-1 my-1    d-flex justify-content-between  " data-bs-toggle="collapse" aria-expanded="false">
                            <span> Other System </span>
                            <i class="fa fa-angle-right  rotate dropdown " style="padding-top:8px;margin:5px" aria-hidden="true"></i>
                        </a>

                        <div class="sub-menu collapse" id="sub">
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 1</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 2</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 3</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 4</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 5</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 6</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 7</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 8</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 9</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 10</a>
                            <a asp-action="" asp-controller="" class="text-decoration-none sub-item px-2 py-1 my-1 "><i class="fa-solid fa-house px-1 fa-sm"></i> system 11</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start nav bar -->
        <div class="content overflow-scroll " id="maintContent">

            <nav class="navbar navbar-expand-lg navbar-expand-md  navbar-light main-bg-color shadow-sm ">
                <div class="container-fluid">
                    <!-- Media Top Bar setting -->
                    <div class="d-flex justify-content-between d-md-none d-block w-100 ">

                        <!-- media top bar -->

                        <div id="open-btn" class=" d-flex justify-content-between ">
                            <button class="btn px-0  btn-link  open-btn "><i class="fas fa-stream fs-1  "></i></button>

                            <a href="#" class="text-decoration-none text-sm-start overflow-scroll py-1    text-primary  " id="media-system-name" style="word-wrap:break-word">
                                Scan App
                            </a>
                        </div>
                        <div class="d-flex ">

                            <div class="pt-2 px-1">
                                <a href="#" class="text-decoration-none ">
                                    <i class="fal fa-bell fs-1 "></i>
                                </a>
                            </div>
                            <div class=" dropstart pt-2 px-1">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/resources/user.jpg" alt="" style="width:35px; height:35px" class="rounded-circle border border-2 border-primary">
                                    @*<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>*@
                                </a>
                                <ul class="dropdown-menu ml-5">
                                    <li><a class="dropdown-item p-3 d-flex justify-content-between" href="#"><span>Logout</span> <span class=""><i class="bi bi-box-arrow-left rotation "></i></span> </a></li>
                                    <li><a class="dropdown-item p-3 d-flex justify-content-between" href="#"><span>Detials</span> <span><i class="bi bi-info-circle "></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="media_collapse">
                        <h3 class="" id="nav-system-name">

                            Scan App
                        </h3>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item align-content-end ml-1">
                            </li>
                        </ul>

                        <div class="d-flex">

                            <div class="pt-2">
                                <a href="#" class="text-decoration-none ">
                                    <i class="fal fa-bell  fs-sm-1"></i>
                                </a>
                            </div>
                            <div class=" mx-3 dropstart">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/resources/user.jpg" alt="" style="width:35px; height:35px" class="rounded-circle border border-2 border-primary">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item p-3 d-flex justify-content-between" href="#"><span>Logout</span> <span class=""><i class="bi bi-box-arrow-left rotation "></i></span> </a></li>
                                    <li><a asp-controller="AccountManagement" asp-action="AccountDetails" class="dropdown-item p-3 d-flex justify-content-between"><span>Detials</span> <span><i class="bi bi-info-circle "></i></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- main body -->
            <div class="dashboard-content  px-0 mx-0 ">

                <main class="col-lg-12 mx-auto mx-0 px-0 ">
                    <header class="d-flex    "></header>

                    <div class=" mx-0 px-1">
                        <main role="main" class="mt-1">
                            <partial name="_Notification" />
                            @RenderBody()
                        </main>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- model-->        @*<footer class="border-top footer text-muted">      <div class="container">      &copy; 2022 - APSS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>      </div>      </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/modelFunction.js" asp-append-version="true"></script>

    @section  scripts{
    <script>
          $(".open-btn").on('click',function()
          {
             $(".sidebar").addClass('active');
          });
          $(".close-btn").on('click',function()
          {
              $(".sidebar").removeClass('active');
        });
            $("#drops").on('click',function(){
            $('.rotate').toggleClass('down');
            $('.system-style').addClass('active');
           });
    </script>
    }

    @await RenderSectionAsync("Scripts", required:         false)
</body>
</html>