@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg  py-0  rounded my-1 mx-0 shadow data-navbar">
    <div class="container-fluid mx-0  ">
        <a class="navbar-brand " href="#">الإدارة:</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-0 manage-ment " id="navbarScroll">
            <div class="d-flex justify-content-end">
                <ul class="navbar-nav me-auto  my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item ">
                        <a class="nav-link pt-3 actives  fw-bold   " id="surveys" aria-current="page" asp-controller="SurveysManagement" asp-action="GetSurveys">Surveys<span><i class="fa-solid fa-file-circle-question px-1 fa-lg"></i></span></a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link  pt-3 fw-bold " id="surveysEntry" asp-controller="SurveysManagement" asp-action="GetSurveysEntry">SurveysEntry <span><i class="fa-solid fa-file-circle-check fa-lg"></i></span></a>
                    </li>
     
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
   
    document.getElementById("nav-system-name").innerHTML="Survey Management";
    document.getElementById("media-system-name").innerHTML="Survey Management";
  
        
    
    </script>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
