
@{
    ViewData["Title"] = "Question Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات السؤال</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <td> رقم السؤال</td>
                    <td> 2</td>
                </tr>
                <tr>
                    <td>السؤال </td>
                    <td>ما اسم امك</td>
                </tr>
                <tr>
                    <td>نوع السؤال  </td>
                    <td>لعنه صح</td>
                </tr>
                <tr>
                    <td>هل ملطلوب </td>
                    <td></td>
                </tr>
                <tr>
                    <td>الإستبيان   </td>
                    <td>شرعب اصحاب الجنة </td>
                </tr>
                <tr>
                    <td>  الإجابات </td>
                    <td> ..</td>
                </tr>
              
                
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <button class="btn btn-outline-primary btn-rounded  mx-1"><i class="fa-solid fa-share mx-2"></i><span>رجوع</span>  </button>
        <button  class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
        <button class="btn btn-outline-danger btn-rounded mx-1"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
        </div>


        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
    <hr class="border-light m-0">
</div>
