@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Survey  Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات الإستبيان</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <td>اسم الإستبيان</td>
                    <td> قات</td>
                </tr>
                <tr>
                    <td>تاريخ الارسال </td>
                    <td>01/23/2018 (قبل 12 يوم)</td>
                </tr>
                <tr>
                    <td>تاريخ الإنتهاء </td>
                    <td>01/23/2018 (قبل 12 يوم)</td>
                </tr>
                <tr>
                    <td>المنطقة المستهدفة   </td>
                    <td>شرعب اصحاب الجنة </td>
                </tr>
                <tr>
                    <td>  عدد الأستبيانات المعباة </td>
                    <td>0387268</td>
                </tr>
                <tr>
                    <td>الناشر/المنشئ  </td>
                    <td>.....</td>
                </tr>
                 <tr>
                    <td>المجيب   </td>
                    <td>...........</td>
                </tr>
                
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <button class="btn btn-outline-primary btn-rounded  mx-1"><i class="fa-solid fa-share mx-2"></i><span>رجوع</span>  </button>
        <button  class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
        <button class="btn btn-outline-danger btn-rounded mx-1"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
        </div>


        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
    <hr class="border-light m-0">
</div>