@model APSS.Web.Dtos.UserDto
@await Html.PartialAsync("_accountNavBar")

<div class="">
    <div class="row col-lg-5 col-sm-12   m-lg-4 m-sm-2 rounded border ">
        <form class=" mt-3 needs-validation" asp-controller="Users" asp-action="AddUser" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class="">
                    اضافة منطقة جديدة
                </h3>
            </div>
            <!-- Text input for user name-->
            <div class=" mb-4 position-relative  ">
                <div class="input-group">
                <span class="input-group-text">@@</span>
                <div class="form-floating col">
                <input type="text" id="user_name" placeholder="Name" asp-for="Name" class="form-control" required />
                <label class="" asp-for="Name"></label>
                  <div class="invalid-tooltip">
                     يجب ادخال اسم المنطقة
                   </div>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            </div>
            </div>

            <div class="">
                <h5 class="">
                    <label asp-for="userStatus"></label>
                </h5>
            </div>
            <!--used -->
            @foreach (var item in Enum.GetValues(typeof(APSS.Web.Dtos.UserStatusDto)))
            {
                <div class="form-check form-check-inline mx-1 ">
                    <input class="form-check-input hiden" type="radio" asp-for="userStatus" id="used" value="@Convert.ToInt32(item)" />
                    <label class="form-check-label">@item.ToString()</label>
                </div>
            }
            <div class="mb-4">

                <button type="submit" class="btn btn-primary w-25 mb-4 mt-4">اضافة</button>
                <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">الغاء</a>
            </div>
            <!-- Submit button -->
        </form>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });

     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
    document.getElementById("media-system-name").innerHTML="ادارة الموظفين";
    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#accounts").addClass('actives');

    });
    $(".scrollmenu ul li a").on('click',function(){
        $(".scrollmenu ul li a.actives").removeClass('actives');
        $("#accounts").addClass('actives');
    });
    $("#userMedia").addClass("actives")
</script>
}