@model APSS.Web.Dtos.AnimalGroupDto
@await Html.PartialAsync("_dataNavBar")
<div class="container-fluid">
    <div class="col-sm-12 col-lg-5 col-md-8 mx-sm-2 mx-lg-4 d-flex ">

        <form class="row d-flex justify-content-berween mt-3 " method="post" asp-controller="AnimalGroup" asp-action="AddAnimalGroup">
            <!-- 2 column puts for the type  and quantity of animal-->
            <div class="center d-flex justify-content-center mb-2 ">
                <h3 class=" ">
                    اضافة حيوان
                </h3>
            </div>
            <div class="mb-2">
                <div class="">
                    <span class="text-danger">*</span>
                    <label class="form-label" asp-for="Type"></label>
                    <input type="text" id="animal_type" asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type"></span>
                </div>
            </div>
            <div class="mb-2">
                <div class="">
                    <span class="text-danger">*</span>
                    <label class="form-label" asp-for="Quantity"></label>
                    <input type="number" id="Quentity" asp-for="Quantity" name="Quentity" class="form-control" placeholder="" />
                    <span asp-validation-for="Quantity"></span>
                </div>
            </div>            <!-- Gender input -->
            <div class="row d-flex  d-inline">
                <div class="col">

                    <h5 class="">
                        @Html.DisplayNameFor(m=>m.Sex):
                    </h5>
                </div>

                @foreach (var item in Enum.GetValues(typeof(APSS.Web.Dtos.AnimalSexDto)))
                {
                    <div class="form-check col ">
                        <input class="form-check-input " type="radio" asp-for="Sex" id="female" value="@Convert.ToInt32(item)" checked />
                        @*<label class="form-check-label" asp-for="@item"></label>*@
                        @Html.Label(item.ToString())
                    </div>
                }
            </div>

            @*<div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="male" name="gender" />
                <label class="form-check-label" for="male"> Male </label>
                </div>

                <div class="form-check form-check-inline">

                <input class="form-check-input" type="radio" value="other" id="other" name="gender" />
                <label class="form-check-label" for="other"> Other </label>
                </div>*@

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-25 my-4 mx-3">اضافة</button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">الغاء</a>
        </form>
    </div>
</div>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
    document.getElementById("media-system-name").innerHTML=" ادارة الموظفين";

       $("#animalProducts").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
       $("#animalGroups").addClass('actives');
</script>
    }