@model APSS.Web.Dtos.AnimalGroupDto
@await Html.PartialAsync("_dataNavBar")

    <div class="col-sm-12 col-lg-6 col-md-8 m-sm-0 m-lg-4 d-flex border rounded p-2 p-sm-2 ">

        <form class="row d-flex justify-content-berween  needs-validation " method="post" asp-controller="AnimalGroup" asp-action="AddAnimalGroup" novalidate>
            <!-- 2 column puts for the type  and quantity of animal-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add New Animal
                </h3>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-cow"></i></span>
                <div class="form-floating col">
                    <input type="text" id="animal_type" asp-for="Type" placeholder="Type" class="form-control" required />
                    <label class="form-label" asp-for="Type"></label>
                    <span asp-validation-for="Type"></span>
                    <div class="invalid-tooltip">
                        يجب ادخال الكمية
                    </div>
                </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
                <div class="form-floating col">
                    <input type="number" id="Quentity"  asp-for="Quantity" name="Quentity" class="form-control" placeholder="quantity" required />
                    <label class="form-label" asp-for="Quantity"></label>
                    <span asp-validation-for="Quantity"></span>
                    <div class="invalid-tooltip">
                        يجب ادخال الكمية
                    </div>
                </div>
                </div>
            </div>            <!-- Gender input -->
            <div class="row d-flex  d-inline">
                <div class="col">

                    <h5 class="">
                        @Html.DisplayNameFor(m=>m.Sex):
                    </h5>
                </div>

                @foreach (var item in Enum.GetValues(typeof(APSS.Domain.Entities.AnimalSex)))
                {
                    <div class="form-check col ">
                        <input class="form-check-input " type="radio" asp-for="Sex" id="female" value="@Convert.ToInt32(item)" checked />
                        @*<label class="form-check-label" asp-for="@item"></label>*@
                        @Html.Label(item.ToString())
                    </div>
                }
            </div>

            @*<div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" id="male" name="gender" />
                <label class="form-check-label" for="male"> Male </label>
                </div>

                <div class="form-check form-check-inline">

                <input class="form-check-input" type="radio" value="other" id="other" name="gender" />
                <label class="form-check-label" for="other"> Other </label>
                </div>*@

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-25 my-4 mx-3">Add </button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>
        </form>
    </div>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
    document.getElementById("media-system-name").innerHTML=" ادارة الموظفين";

       $("#animalProducts").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
       $("#animalGroups").addClass('actives');
</script>
    }