<div class="card mt-2 mx-4" style="border-right:4px blue solid">
  <div class="card-body">
      <div class="d-flex "> <i class=" " style="padding-left:2px"></i> <h4>تأكيد البيانات </h4></div>
      <table class="table user-view-table m-0  table-borderless">
          <tbody>
              <tr class="">
                  <td>اسم الحساب</td>
                  <td> عبودي علي الطري</td>
              </tr>
              <tr>
                  <td>تاريخ الاضافة </td>
                  <td>01/23/2018 (قبل 12 يوم)</td>
              </tr>
              <tr>
                  <td>رقم التلفون  </td>
                  <td>777777777</td>
              </tr>
              <tr>
                  <td>رقم الباقة   </td>
                  <td>0387268</td>
              </tr>
              <tr>
                  <td>العمل  </td>
                  <td>مش رجال</td>
              </tr>
              <tr>
                  <td>الحالة الاجتماعية </td>
                  <td>مكلود</td>
              </tr>
              <tr>
                  <td>حالة الحساب </td>
                  <td><span class="fa fa-check text-primary"></span>نشط</td>
              </tr>
              <tr>
                  <td>تم الاضافة بواسطة</td>
                  <td>اموني القاضي </td>
              </tr>
              <tr>
                  <td>اسم  المستخدم </td>
                  <td><span class="">يني مطر</span></td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="table-responsive m-4">
      <a role="button" class="btn btn-primary text-white  shadow-0"> صحيحة <span><i class="fa-solid fa-check "></i></span></a>
      <a role="button" class="btn btn-danger text-white  shadow-0"> غير صحيحة <span><i class="fa-solid fa-xmark "></i></span></a>
  </div>
</div>