@model APSS.Web.Dtos.AnimalGroupDto
@await Html.PartialAsync("_dataNavBar")
<div class="container-fluid">
    <div class="col-sm-12 col-lg-5 col-md-8 mx-sm-2 mx-lg-4 d-flex ">
        <form class=" row d-flex justify-content-berween mt-3" method="post" id="EditAnimalGroup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <!-- 2 column puts for the type  and quantity of animal-->
            <div class="center d-flex justify-content-center mb-2 ">
                <h3 class=" ">
                    Edit Animal Information
                </h3>
            </div>
            <div class="mb-4 ">
                <div class="input-group ">
                    <span class="input-group-text"><i class="fa-solid fa-cow"></i></span>
                    <div class="form-floating col ">
                        <input type="text" id="animal_type" asp-for="Type" placeholder="Type" class="form-control" required />
                        <label class="form-label" asp-for="Type" style="border-radius:3px 0 0 3px !important;"></label>
                        <span asp-validation-for="Type"></span>
                        <div class="invalid-tooltip">
                            Please Enter Type
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-arrow-up-wide-short"></i></span>
                    <div class="form-floating col">
                        <input type="number" id="Quentity" asp-for="Quantity" name="Quentity" class="form-control" placeholder="quantity" required />
                        <label class="form-label" asp-for="Quantity"></label>
                        <span asp-validation-for="Quantity"></span>
                        <div class="invalid-tooltip">
                            Pleae Eneter Quantity
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gender input -->
            <div class="row d-flex  d-inline">
                <div class="col">

                    <h5 class="">
                        @Html.DisplayNameFor(m=>m.Sex):
                    </h5>
                </div>

                @foreach (var item in Enum.GetValues(typeof(APSS.Domain.Entities.AnimalSex)))
                {
                    <div class="form-check col ">
                        <input class="form-check-input " type="radio" asp-for="Sex" id="female" value="@Convert.ToInt32(item)" checked />
                        @*<label class="form-check-label" asp-for="@item"></label>*@
                        @Html.Label(item.ToString())
                    </div>
                }
            </div>

            <div class="my-4">
                <!-- Submit button -->
                <button type="submit" onclick="EditAnimalGroup()" class="btn btn-primary  w-12 ">Edit</button>
                <a onClick="history.go(-1); return false;" class="btn btn-link  mx-2" style="background-color:#DCEEFB">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function EditAnimalGroup() {
        var data = $("#EditAnimalGroup").serialize();
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '/AnimalGroup/EditAnimalGroup',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data,
            success: function (result) {
               alert('Successfully received Data ');
                console.log(result);
            },
            error: function () {
               alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    }
</script>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="Employees Management";
    document.getElementById("media-system-name").innerHTML="Employees Management";

       $("#animalProducts").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
       $("#animalGroups").addClass('actives');
</script>
    }