
@model UpdatePassowrdForm

<div class="modal" tabindex="-1" id="update-password-modal">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="@Routes.Dashboard.Users.Accounts.UpdatePassword" asp-antiforgery="true">
            <input type="hidden" asp-for="Id" />

            <div class="modal-header">
                <h5 class="modal-title">Update password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- New password input -->
                <div class="input-group has-validation mb-3">
                    <span class="input-group-text">@Icon.Lock.Render()</span>
                    <div class="form-floating flex-grow-1">
                        <input type="password" class="form-control" placeholder="Enter new password" asp-for="Password" pattern="^.{1,}$">
                        <label>New password</label>
                    </div>
                    <span class="d-block invalid-feedback" asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>