@model AddAccountForm

<!-- Modal -->

<form class="needs-validation form-group" method="post" action="@Routes.Dashboard.Users.Accounts.Add.FullPath" asp-antiforgery="true" novalidate>

    <!-- Hidden inputs -->
    <input type="hidden" asp-for="UserId" />

    <div class="modal fade" id="addAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAccountModalLabel">Add a new account</h5>
                </div>

                <div class="modal-body">
                    <!-- Holder name -->
                    <div class="input-group has-validation mb-3">
                        <span class="input-group-text">@Icon.Person.Render()</span>
                        <div class="form-floating flex-grow-1">
                            <input type="text" class="form-control" placeholder="Holder name" asp-for="HolderName" aria-describedby="holderNameValidation">
                            <label>Holder name</label>
                        </div>
                        <span id="holderNameValidation" class="d-block invalid-feedback" asp-validation-for="HolderName"></span>
                    </div>

                    <!-- Password -->
                    <div class="input-group has-validation mb-3">
                        <span class="input-group-text">@Icon.Lock.Render()</span>
                        <div class="form-floating flex-grow-1">
                            <input type="password" class="form-control" placeholder="User name" asp-for="Password" aria-describedby="passwordValidation">
                            <label>Password</label>
                        </div>
                        <span id="passwordValidation" class="d-block invalid-feedback" asp-validation-for="Password"></span>
                    </div>

                    <!-- Enabled check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="enabledCheck" asp-for="IsActive">
                        <label class="form-check-label" for="enabledCheck">Enabled</label>
                    </div>

                    <!-- Permissions -->
                    <h6 class="mt-2">Permissions</h6>
                    <div class="d-flex gap-4">
                        <!-- Read -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="readCheck" asp-for="Permissions.Read">
                            <label class="form-check-label" for="readCheck">Read</label>
                        </div>
                        <!-- Create -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="createCheck" asp-for="Permissions.Create">
                            <label class="form-check-label" for="createCheck">Create</label>
                        </div>

                        <!-- Update -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="updateCheck" asp-for="Permissions.Update">
                            <label class="form-check-label" for="updateCheck">Update</label>
                        </div>

                        <!-- Delete -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="enabledCheck" asp-for="Permissions.Delete">
                            <label class="form-check-label" for="enabledCheck">Delete</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary" href="@Routes.Dashboard.Users.Users.FullPath">Cancel</a>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script>

        $(window).on('load', function () {
            $('#addAccountModal').modal('show');
        });

    </script>
}