@*@model APSS.Web.Dtos.AccountDto

<div class="row col-sm-12 col-lg-8 d-flex  p-3">
    <form class=" mt-2 needs-validation" method="post" asp-controller="Accounts" asp-action="UpdatePassword" novalidate>
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="UserId" />
        <!-- 2 column puts for the National number and Phome Number-->
        <div class="center d-flex  mb-2 ">
            <h3 class="text-muted">
                Change Password
            </h3>
        </div>

        <!-- Text input for account name-->
        <div class=" mt-4  input-group has-validation">
            <span class="input-group-text">
                <i class="fa-solid fa-key"></i>
            </span>
            <div class="form-floating flex-grow-1">
                <input type="password" id="id_password" asp-for="PasswordHash" placeholder="Password" aria-describedby="passwordValidation" class="form-control " required />
                <label class="form-label" asp-for="PasswordHash"></label>
            </div>
            <div class="input-group-text"><i class="far fa-eye" id="togglePassword" style=" cursor: pointer;"></i></div>
            <span class="invalid-feedback d-block" asp-validation-for="PasswordHash" id="passwordValidation"> </span>
        </div>

        <div>
            <div class="row d-flex justify-content-end">
                <!-- Submit b        utton -->
                <a onClick="history.go(-1); return false;" class="btn btn-link w-25 mt-4 mx-3" style="background-color:#DCEEFB"> Cancel</a>
                <button type="submit" class="btn btn-primary w-25  mt-4">Save</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="Employees Managenet";
      document.getElementById("media-system-name").innerHTML="Employees Managenet";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
        $("#userMedia").removeClass('actives');
         $("#accounts").addClass('actives');
         $("#accountMedia").addClass('actives');
</script>
    }*@