@model APSS.Web.Dtos.SeasonDto

@{
    ViewData["title"] = "Delete Season Page";
}
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "><h5>تأكيد حذف الموسم</h5> </div>
        <table class="table user-view-table m-0  ">
            <tbody style="font-size:14px">
                <tr>
                    <td>@Html.DisplayNameFor(i => i.Id)</td>
                    <td>@Model?.Id</td>
                </tr>
                <tr class="">
                    <td>@Html.DisplayNameFor(m => m.Name)</td>
                    <td>@Model?.Name</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(s => s.StartsAt)</td>
                    <td>@Model?.StartsAt</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(e => e.EndsAt)</td>
                    <td>@Model?.EndsAt</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class=" d-inline pt-2">
            <a class="btn btn-danger btn-rounded  " asp-route-Id="@Model?.Id" asp-controller="Season" asp-action="Delete">تأكيد</a>
            <a class="btn btn-primary btn-rounded mx-3" asp-controller="Season" asp-action="Index">رجوع</a>
        </div>

        @*<a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>*@
    </div>
</div>