@model APSS.Web.Dtos.SeasonDto
@{
    ViewData["title"] = "Update Season Page";
}
<form class=" mt-3 ">
    <!--  column puts for the Land Product Expense Type -->
    <div class="center d-flex justify-content-center mb-3 ">
        <h3 class=" ">
            Season Information
        </h3>
    </div>
    <div class="form-outline mb-4">
        <input type="text" asp-for="Name" class="form-control" />
        <label class="form-label" asp-for="Name"></label>
    </div>
    <div class="form-outline mb-4">
        <input type="datetime" asp-for="StartsAt" class="form-control" />
        <label class="form-label" asp-for="StartsAt"></label>
    </div>
    <div class="form-outline mb-4">
        <input type="datetime" asp-for="EndsAt" class="form-control" />
        <label class="form-label" asp-for="EndsAt"></label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Add</button>
</form>