@model SkillAddForm

<div class="container-fluid px-3 py-3 mx-4 my-1">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4> Add Skill</h4>
        </div>
        <form class=" mt-3 " method="post">
            <input type="number" asp-for="IndividualId" hidden/>
          <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-hands-holding-circle"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Name "  asp-for="Name" >
                    <label asp-for="Name"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Name"></span>
            </div>
                <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-file-prescription"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Description "  asp-for="Description" >
                    <label asp-for="Description"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Description"></span>
            </div>

              <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Field "  asp-for="Field" >
                    <label asp-for="Field"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Field"></span>
            </div>


            <!-- Submit button -->
            <div class="d-inline">
                <button class="btn btn-primary mt-4 mx-1" asp-controller="Skill" asp-action="AddSkill" asp-route-Id="@Model.IndividualId"> <i class="fa-solid fa-plus mx-2"></i><span>Add</span>  </button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>
            </div>
        </form>
    </div>
</div>