@model ProductExpenseDto
@{
    ViewData["title"] = "Update Product Expense Page";
}
<div class="container-fluid">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-5">
        <form method="post" asp-area="Lands" asp-controller="Expenses" asp-action="Update" novalidate>
            <!--  column puts for the Land Product Expense Type -->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Update Expense
                </h3>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="input-group mb-3 has-Validation">
                <span class="input-group-text">@@</span>
                <div class="form-floating col">
                    <input type="text" asp-for="Type" class="form-control" placeholder=" " aria-describedby="typeValidation" required />
                    <label class="form-label" asp-for="Type"></label>
                </div>
                <span id="typeValidation" class="d-block invalid-feedback" asp-validation-for="Type"></span>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Price" class="form-control" placeholder=" " aria-describedby="priceValidation" required />
                        <label class="form-label" asp-for="Price"></label>
                    </div>
                    <span id="priceValidation" class="d-block invalid-feedback" asp-validation-for="Price"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary px-5 my-4">Update</button>
            </div>
        </form>
    </div>
</div>