@model APSS.Web.Dtos.SeasonDto
@{
    ViewData["title"] = "Update Season Page";
}
<div class="container-fluid">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-5">
        <form method="post" action="@Routes.Dashboard.Lands.Seasons.Update.FullPath" asp-antiforgery="true" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Update Season
                </h3>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="text" asp-for="Name" class="form-control" placeholder=" " aria-describedby="nameValidation" required />
                        <label class="form-label" asp-for="Name"></label>
                    </div>
                    <span id="nameValidation" class="d-block invalid-feedback" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="date" asp-for="StartsAt" class="form-control" placeholder=" " ariaaria-describedby="startValidation" required />
                        <label class="form-label" asp-for="StartsAt"></label>
                    </div>
                    <span id="startValidation" class="d-block invalid-feedback" asp-validation-for="StartsAt"></span>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="date" asp-for="EndsAt" class="form-control" placeholder=" " aria-describedby="endValidation" required />
                        <label class="form-label" asp-for="EndsAt"></label>
                    </div>
                    <span id="endValidation" class="d-block invalid-feedback" asp-validation-for="EndsAt"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary px-5 my-4">Update</button>
            </div>
        </form>
    </div>
</div>