@model LandProductUnitDto
@{
    ViewData["title"] = "Add Unit Page";
}
<div class="container-fluid">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-5">
        <form method="post" action="@Routes.Dashboard.Lands.Units.Add.FullPath" asp-antiforgery="true" class="needs-validation" novalidate>
            <!--  column puts for the Land Product Expense Type -->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add new product Unit
                </h3>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="text" asp-for="Name" class="form-control" placeholder=" " aria-describedby="nameValidation" required />
                        <label class="form-label" asp-for="Name"></label>
                    </div>
                    <span id="nameValidation" class="d-block invalid-feedback" asp-validation-for="Name"></span>
                </div>
            </div>
            <!-- Submit button -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary px-5 my-4">Add</button>
            </div>
        </form>
    </div>
</div>