@using APSS.Web.Dtos
@model APSS.Web.Dtos.QuestionDto
<div class="container-fluid  mt-3  mx-4 my-1  ">
    <div class="row d-flex ">
        <div class="col-xl-7  col-md-9 col-12 border rounded shadow-sm  p-2">
            <div class="d-flex  justify-content-center pb-4 pt-4">
                <div class=""> <h3 class="text-decoration-underline ">Update Question  </h3></div>
            </div>
            <form class="" method="post" >

                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="row d-flex justify-content-between mb-3">
                    <div class="col-6">
                <label asp-for="QuestionType"></label>

            <select asp-for="QuestionType" onselect="@Model.CandidateAnswers"
            asp-items="Html.GetEnumSelectList<QuestionTypeDto>()"
            class="form-control" >
            </select>
          </div>
                   
            <div class="col-6">
             <div class="form-check flex-grow-1">
                    <input class="form-check-input" type="checkbox"  asp-for="IsRequired" value="@Model.IsRequired">
                    <label class="form-check-label" asp-for="IsRequired"> </label>
                </div> 
          </div>
                </div>
                <div class=" mt-4">
                    <span class="text-danger">*</span>
                    <label asp-for="Text" class="form-label"></label>
                    <input type="text"  class="form-control" asp-for="Text" value="@Model.Text"  aria-label="Text input with dropdown button">
                </div>
                <span asp-validation-for="Text" class="text-danger"></span>
                                     <div class="row d-flex justify-content-between">
                          
                   @foreach (var item in Model.CandidateAnswers!)
                        {
                        
                        <div class=" col-6" id="box1">
                            <div class=" form-group" id="">
                            <label  class="form-label" > Selection  </label>
                            <input type="text" asp-for="@Model.CandidateAnswers"  class="form-control" id="exampleFormControlInput1">
                        </div>
                        </div>
                  
                        }

                
                   </div>

                <div class="d-inline">
                <button class="btn btn-primary mt-4 mx-1" asp-controller="Question" asp-action="EditQuestion"> 
                    <i class="fa-solid fa-pen-to-square fa-lg mx-2"></i><span>Edit</span> 
                </button>
                <button class="btn btn-danger mt-4 mx-1" asp-controller="Question" asp-action="GetQuestionsSurvey">
                    <i class="fa-solid fa-share mx-2"></i><span>Cancel</span>
                </button>
            </div>

            </form>
        </div>
    </div>
</div>
