@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-start" id="family">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" >Add New Family</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form class=" mt-3 ">
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class="text-decoration-underline">
                   Family Information
                </h3>
            </div>
            <!-- Text input for family name-->
            <div class=" mb-4">
                <label class="form-label" for="family_name">Name</label>
                <input type="text" id="family_name" name="individual_name" class="form-control" />
            </div>
            <!-- Text input for Living Location -->
            <div class=" mb-4">
                <label class="form-label" for="family_Living_Location">Living Location</label>
                <input type="text" id="family_Living_Location" name="family_Living_Location" class="form-control" />
            </div>    
                   <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Add</button>
        </form>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <a class="text-dark fw-bold text-decoration-none" role="button" type="button" data-bs-toggle="offcanvas" data-bs-target="#family">
            <i class="fa-solid fa-plus"></i>    Add New Family
        </a>
    </div>