@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg shadow-sm pb-0 pt-2  mt-2 " id="family-manage">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="data-management">
      <ul class="navbar-nav me-auto  pb-0 mb-lg-0">
       
        <li class="nav-item mx-sm-2 pb-2">
         <div class="d-flex justify-content-between">
     <a class="nav-link" role="button" asp-action="Create" asp-controller="Family">
              <span class="mt-2"><i class="fa-solid fa-people-roof fa-lg"></i><i class="fa-solid fa-plus familyicon"></i></span>

          Add Family
        </a>
         </div>
        </li>
         <li class="nav-item mx-sm-2 pb-2 ">
          <div class="d-flex justify-content-between">

            <a class="nav-link" href="#">
               <span class="mt-2">
                    
</span>
             last Family
              </a>
          </div>
         </li>
      </ul>
    </div>
  <div class="title-mange-page" >
        <h4 style="font-weight:bold">
            Families Management
            </h4>
    </div>
  </div>
</nav>

<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row gx-3 gy-2 align-items-center mb-3 ">
        <div class="col-sm-6">
            <label class="visually-hidden" for="search"></label>
            <div class="input-group">
                <a href="#" class="input-group-text " style="background-color:#1B73B3">
              <div class=" ">
                <i class="fal fa-search" style="color:white"></i>
              </div>
            </a>
              <input type="text" class="form-control"  placeholder="Search..." id="search" onkeyup="searchTable()">
              <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> -->
            </div>
          </div>
          <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeSelect">Search By</label>
            <select class="form-select" id="specificSizeSelect">
              <option selected>Choose...</option>
              <option value="1">Name</option>
              <option value="2">Id</option>
              <option value="3">Address</option>
            </select>
          </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

              <thead>
                  <tr class="header">
                    <th style="width:10%;" class=" text-capitalize align-middle">ID</th>
                    <th style="width:30%;" class=" text-capitalize align-middle">Name</th>
                    <th style="width:20%;" class=" text-capitalize align-middle">Living Location</th>
                    <th style="width:30%;" class=" text-capitalize align-middle">User</th>
                    <th style="width:5%;" class=" text-capitalize align-middle">Function</th>
                  </tr>
                    </thead>
                      <tbody>
                              <tr>
                                <td class="text-break text-capitalize align-middle">1</td>
                                <td class="text-break text-capitalize align-middle"> John</td>
                                <td class="text-break text-capitalize align-middle">Doe</td>
                                <td class="text-break text-capitalize align-middle">
                                    mary@example.com
                                </td>
                               <td class="align-middle center">
                                  <div class=" dropend">
                                      <a class="" href="#"  id="dropdownMenuLink"
                                      data-bs-toggle="dropdown"  aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                              </a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="GetFamilyDetails">Details</a></li>
                                        <li><a class="dropdown-item" asp-action="Delete">Delete</a></li>
                                        <li><a class="dropdown-item" asp-action="Update">Edite</a></li>
                                      </ul>
                                    </div>
                               </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Mary</td>
                                <td>Moe</td>
                                <td>mary@example.com</td>
                               <td>
                                  <div class=" dropend">
                                      <a class="" href="#"  id="dropdownMenuLink"
                                      data-bs-toggle="dropdown"  aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                              </a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Details</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                        <li><a class="dropdown-item" href="#">Active</a></li>
                                      </ul>
                                    </div>
                               </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>July</td>
                                <td>Dooley</td>
                                <td>july@example.com</td>
                                <td>
                                  <div class=" dropend">
                                      <a class="" href="#"  id="dropdownMenuLink"
                                      data-bs-toggle="dropdown"  aria-expanded="false">
                                                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                              </a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Details</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>
                                        <li><a class="dropdown-item" href="#">Active</a></li>
                                      </ul>
                                    </div>
                                </td>
                              </tr>
                              <tr>
                                <td>4</td>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td>
                                    <div class=" dropend">
                                        <a class="" href="#"  id="dropdownMenuLink"
                                        data-bs-toggle="dropdown"  aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">i</a></li>
                                          <li><a class="dropdown-item" href="#">Delete</a></li>
                                          <li><a class="dropdown-item" href="#">Active</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>5</td>
                                  <td>goo</td>
                                  <td>moe</td>
                                  <td>july@example.com</td>
                                  <td>
                                    <div class=" dropend">
                                        <a class="" href="#"  id="dropdownMenuLink"
                                        data-bs-toggle="dropdown"  aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Details</a></li>
                                          <li><a class="dropdown-item" href="#">Delete</a></li>
                                          <li><a class="dropdown-item" href="#">Active</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td>
                                    <div class=" dropend">
                                        <a class="" href="#"  id="dropdownMenuLink"
                                        data-bs-toggle="dropdown"  aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Details</a></li>
                                          <li><a class="dropdown-item" href="#">Delete</a></li>
                                          <li><a class="dropdown-item" href="#">Active</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>7</td>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td>
                                    <div class=" dropend">
                                        <a class="" href="#"  id="dropdownMenuLink"
                                        data-bs-toggle="dropdown"  aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Details</a></li>
                                          <li><a class="dropdown-item" href="#">Delete</a></li>
                                          <li><a class="dropdown-item" href="#">Active</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                                <tr>  <td>8</td>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td>
                                    <div class=" dropend">
                                        <a class="" href="#"  id="dropdownMenuLink"
                                        data-bs-toggle="dropdown"  aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                        <ul class="dropdown-menu">
                                          <li><a class="dropdown-item" href="#">Details</a></li>
                                          <li><a class="dropdown-item" href="#">Delete</a></li>
                                          <li><a class="dropdown-item" href="#">Active</a></li>
                                        </ul>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>9</td>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td>
                                  </td>
                                </tr>
                            </tbody>
          </table>
          </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
  </div>

