@model APSS.Web.Dtos.FamilyIndividualDto

<div class="container-fluid px-3 py-3  mx-4 my-1">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4>تحديث بيانات فرد العائلة</h4>
        </div>
        <form class=" mt-3 " method="post">

            <!-- Text input for individual name-->
            <div class=" mb-4">
                <span class="text-danger">*</span>
                <label class="form-label" asp-for="Family"></label>
                <input type="text" id="individual_name" asp-for="Family" value="@Model.Family.Name"  class="form-control" />
            </div>
            <span asp-validation-for="Family" class="text-danger"></span>

            <!-- Text input for Address -->
            <div class=" mb-4">
                <span class="text-danger">*</span>
                <label class="form-label" asp-for="Individual"></label>
                <input type="text" id="individual_Address" asp-for="Individual" value="@Model.Individual.Name"  class="form-control" />
            </div>
            <span asp-validation-for="Individual"></span>

            <div class="form-check form-check-inline ">
                <span class="text-danger">*</span>
                <label class="form-check-label" asp-for="IsParent"> </label>
                <input class="form-check-input" type="checkbox" asp-for="IsParent" />
            </div>
            <span asp-validation-for="IsParent" class="text-danger"></span>

            
            <div class="form-check form-check-inline ">
                <span class="text-danger">*</span>
                <label class="form-check-label" asp-for="IsProvider"> </label>
                <input class="form-check-input" type="checkbox" asp-for="IsProvider" />
            </div>
            <span asp-validation-for="IsProvider" class="text-danger"></span>

            <!-- Submit button -->
            <div class="d-inline">
                <button class="btn btn-primary mt-4 mx-1" asp-controller="Family" asp-action="UpdateFamilyIndividual"> 
                    <i class="fa-solid fa-pen-to-square fa-lg mx-2"></i><span>تحديث</span> 
                </button>
                <button class="btn btn-danger mt-4 mx-1" asp-route-Id="@Model.Family.Id" asp-controller="Family" asp-action="GetFamilyIndividuals">
                    <i class="fa-solid fa-share mx-2"></i><span>رجوع</span>
                </button>
            </div>
        </form>
    </div>
</div>
