@{
    ViewData["Title"] = "Land Details";
}
@await Html.PartialAsync("~/Views/LandProduct/_add.cshtml")
<div class="card mt-2">
    <div class="d-inline">
    </div>
    <div class="card-body">
        <div class="d-flex ">

            <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>معلومات الارض</h3>
        </div>
        <table class="table user-view-table m-0 t ">
            <tbody>
                <tr class="">
                    <td> اسم الارض</td>
                    <td> المشهد</td>
                </tr>
                <tr>
                    <td> الموقع</td>
                    <td>إب\السبرة\عزلة عينان </td>
                </tr>
                <tr>
                    <td>المساحة   </td>
                    <td> 1000 م^2</td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        <br />
        <div cllass="d-inline pt-2">
            <button class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-plus mx-2"></i><span><a data-bs-toggle="offcanvas" data-bs-target="#landProduct"> اضافة منتج </a></span> </button>
            <button class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
            <button class="btn btn-outline-danger btn-rounded mx-1"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
        </div>
        @*<a id="III" class="btn text-primary shadow-0 btn-link text-decoration-none"><span class=""><i class="fa-solid fa-angles-left"></i></span> المنتجات</a>*@
    </div>
</div>