<div class="title-mange-page">
    <h4 style="font-weight:bold">
        Land Details
    </h4>
</div>

<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header">
                        <th style="width:10%;" class=" text-capitalize align-middle">ID</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Name</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Address</th>
                        <th style="width:20%;" class=" text-capitalize align-middle">Area</th>
                        <th style="width:5%;" class=" text-capitalize align-middle">Function</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle">
                            john@example.comjohn@example.comjohn@example.comjohn@example.comjohn@example.com
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>