@model APSS.Web.Dtos.LandDto
<div class="container-fluid">
    <div class="d-flex">
        <form class=" mt-3 align-items-center " method="post" asp-controller="Land" asp-action="Update">
            <div class="d-flex justify-content-center">
                <h5 class="">تعديل بيانات الارض</h5>
            </div>
            <div class="form-outline mb-4">
                <input type="text" asp-for="Name" class="form-control" />
                <label class="form-label" asp-for="Name"></label>
            </div>
            <div class="form-outline mb-4">
                <input type="number" asp-for="Area" class="form-control" />
                <label class="form-label" asp-for="Area"></label>
            </div>
            <!-- Text input for longitude-->
            <div class="form-outline  mb-4">
                <input type="number" asp-for="Longitude" class="form-control" />
                <label class="form-label" asp-for="Longitude"></label>
            </div>
            <!-- Text input for latitude-->
            <div class="form-outline mb-4">
                <input type="number" asp-for="Latitude" class="form-control" />
                <label class="form-label" asp-for="Latitude"></label>
            </div>

            <!-- Text input address-->
            <div class="form-outline mb-4">
                <input type="text" asp-for="Address" class="form-control" />
                <label class="form-label" asp-for="Address"></label>
            </div>            <!-- IsUsable input -->
            <div class="form-check-inline">

                <h5 class="inline"><label asp-for="IsUsable"></label></h5>
            </div>
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" type="radio" asp-for="IsUsable " value=true />
                <label class="form-check-label" asp-for="IsUsable">نعم</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="IsUsable" value=false />
                <label class="form-check-label" asp-for="IsUsable"> لا </label>
            </div>

            <br />
            <!-- IsUsed input -->
            <div class="form-check-inline">

                <h5 class="inline"> <label asp-for="IsUsed"></label> </h5>
            </div>
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" type="radio" asp-for="IsUsed" value="true" />
                <label class="form-check-label" asp-for="IsUsed">نعم</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="false" asp-for="IsUsed" />
                <label class="form-check-label" asp-for="IsUsed"> لا </label>
            </div>
            <br />

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary  mt-4 ">اضافة</button>
        </form>
    </div>
</div>