.justified-content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ShowUserDetails:hover .subUserInfo {
    display: block;
}

/*.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}*/

/*.drop {
    position: relative;
    display: inline-block;
}*/

.dropdown-content {
    padding: 5px 0 5px 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    top: 80%;
    right: 100%;
    /* border: 1px #a39f9f solid;*/
    border-radius: 5px;
}

    /*.dropdown-content a {*/
    /*color: black;*/
    /*padding: 12px 16px;*/
    /*text-decoration: none;
        display: block;
    }*/

    .dropdown-content a:hover {
        background-color: #ddd;
    }

.drop:hover .dropdown-content {
    display: block;
}

/*.drop:hover .dropbtn {
    background-color: #3e8e41;
}*/