<div class="d-flex flex-column justify-content-center align-items-center h-75">
    <h1 class="fw-light" style="letter-spacing: 4px">To Be Implemented...</h1>
    <strong style="letter-spacing: 7px">Implementation to come soon</strong>
</div>