@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-expand-lg shadow-sm pb-0 pt-2  mt-2 " id="Individual-manage">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="data-management">
      <ul class="navbar-nav me-auto  pb-0 mb-lg-0">
       
        <li class="nav-item mx-sm-2 pb-2">
         <div class="d-flex justify-content-between">
     <a class="nav-link" role="button" asp-action="Create" asp-controller="Individual">
              <span class="mt-2"><i class="fa-solid fa-person-circle-plus fa-lg"></i></span>

          Add Individual
        </a>
         </div>
        </li>
         <li class="nav-item mx-sm-2 pb-2">
         <div class="d-flex justify-content-between">
     <a class="nav-link" role="button" asp-action="GetIndividuals" asp-controller="Individual">
              <span class="mt-2"><i class="fa-solid fa-people-group fa-lg"></i></span>

          All Individuals
        </a>
         </div>
        </li>
         <li class="nav-item mx-sm-2 pb-2 ">
          <div class="d-flex justify-content-between">

            <a class="nav-link" href="#">
               <span class="mt-2"><i class="fa-solid fa-people-line fa-lg"></i> </span>
             last Individuals
              </a>
          </div>
         </li>
      </ul>
    </div>
  <div class="title-mange-page" >
        <h4 style="font-weight:bold">
            Individuals Management
            </h4>
    </div>
  </div>
</nav>
<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row gx-3 gy-2 align-items-center mb-3 ">
        <div class="col-sm-6">

            <div class="input-group">
                <a href="#" class="input-group-text text-decoration-none" style="background-color:#1B73B3">

                    <i class="fal fa-search " style="color:white"></i>
                </a>

                <input type="text" class="form-control" id="search" placeholder="Search..." onkeyup="searchTable()">

                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By</button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2 ">
            <label class="visually-hidden" for="searchby">Search By</label>
            <select class="form-select " id="searchby">
                <option selected>Choose search by</option>
                <option value="1">Name</option>
                <option value="2">Id</option>
                <option value="3">Address</option>
            </select>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header bg-dark bg-fixed text-white">
                        <th   class=" text-capitalize align-middle">ID</th>
                        <th   class=" text-capitalize align-middle">Name</th>
                        <th   class=" text-capitalize align-middle">job</th>
                        <th   class=" text-capitalize align-middle">Phone Number</th>
                        <th   class=" text-capitalize align-middle">Address</th>
                        <th   class=" text-capitalize align-middle">NationalId</th>
                        <th   class=" text-capitalize align-middle">Gender</th>
                        <th   class=" text-capitalize align-middle">Social Status</th>
                        <th   class=" text-capitalize align-middle">User</th>
                        <th   class=" text-capitalize align-middle">Birth Date</th>
                        <th   class=" text-capitalize align-middle">Function</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr>
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="align-middle center">
                            <div class=" dropend">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Details</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="align-middle center">
                            <div class=" dropend">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Details</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle"> john@exampl</td>
                        <td class="align-middle center">
                            <div class=" dropend">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Details</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>