@model APSS.Web.Dtos.SurveyDto
<div class="container-fluid px-3 py-3  mx-4 my-1">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4 >Add Survey </h4>
        </div>

        <form class=" mt-3 ">
           
            <!-- survey Name -->
          <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Name "  asp-for="Name" >
                    <label asp-for="Name"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Name"></span>
            </div>
            <!-- post and end survey date -->
                   <div class="datepicker input-group.date input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Expiration Date "  asp-for="ExpirationDate" >
                    <label asp-for="ExpirationDate"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="ExpirationDate"></span>
            </div>

            <!-- Text input survey description-->
            <div class="form-check flex-grow-1">
                    <input class="form-check-input" type="checkbox"  asp-for="IsActive">
                    <label class="form-check-label" asp-for="IsActive"> </label>
                </div> 

            
                        <div >
                <button class="btn btn-primary mt-4 mx-1" asp-controller="Survey" asp-action="AddSurvey"> <i class="fa-solid fa-plus mx-2"></i><span>Add</span>  </button>
            <a class="btn btn-outline-dark mx-1 my-2" onclick="history.go(-1)"> <i class="fa-solid fa-arrow-right mx-2"> </i><span>Back</span> </a>
            </div>
        </form>
        </div>
        </div>