@using APSS.Web.Dtos.ValueTypes
@model IndividualEditForm

<div class="container-fluid px-3 py-3  mx-4 my-1">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4> Update Individual </h4>
        </div>
        <form class="mt-3" method="post" asp-action="UpdateIndividual" asp-controller="Individuals">
            <input type="number" asp-for="Id" hidden />

           <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Name" asp-for="Name" >
                    <label asp-for="Name"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Name"></span>
            </div>

            <!-- Text input for Address -->
           <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-house-chimney"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Address"  asp-for="Address" >
                    <label asp-for="Address"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Address"></span>
            </div>


             <!-- Text input for Family -->
            <div class="input-group has-validation mb-3">
                <span class="input-group-text"><i class="fa-solid fa-people-roof"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Family"  asp-for="Family" >
                    <label asp-for="Family"></label>
                </div>
                <span  class="d-block invalid-feedback" asp-validation-for="Family"></span>
            </div>


            <!-- Text input for job -->
                <span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Job"  asp-for="Job" >
                    <label asp-for="Job"></label>
                </div>
              
            <!-- Text input for phonenumber -->
                <span class="input-group-text"><i class="fa-solid fa-phone-flip"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="Phone Number" asp-for="PhonNumber" >
                    <label asp-for="PhonNumber"></label>
                </div>
               

            <!-- Text input for NationalId -->
                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" placeholder="National ID"  asp-for="NationalId" >
                    <label asp-for="NationalId"></label>
                </div>

            <!-- Text input for DateOfBirth -->
            <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
            <div class=" datepicker input-group.date-p form-floating flex-grow-1">
                <label class="form-label" asp-for="DateOfBirth"></label>
                <input type="date" id="sandbox-container-p" placeholder="Birth Date" asp-for="DateOfBirth"  class="form-control" />
            </div>

            <!-- Gender input -->
            <div class="input-group has-validation mb-3">
            <span class="input-group-text"><i class="fa-solid fa-hashtag"></i></span>
                <label asp-for="Sex"></label>
            @foreach (var value in Enum.GetValues(typeof(SexDto)))
            {
                @if (value.ToString() == SexDto.Female.ToString())
                {
                    <div class="mx-4 d-inline">
                    @Html.RadioButtonFor(m=>m.Sex,value,Model.Sex)
                    <label>Female</label>
                    </div>
                }
                else
                {  
                    <div class="mx-4 d-inline">
                    @Html.RadioButtonFor(m=>m.Sex,value,Model.Sex)
                    <label class="">Male</label>
                    </div>
                }
            }
            <span asp-validation-for="Sex" class="text-danger"></span>
            </div>

            <!-- Social Status input -->
            <div class="form-check mt-3">
                <label asp-for="SocialStatus"></label>

            <select asp-for="SocialStatus"
            asp-items="Html.GetEnumSelectList<SocialStatusDto>()"
            class="form-control">
            </select>
          </div>

           <div class="form-check flex-grow-1">
                    <input class="form-check-input" type="checkbox"  asp-for="Isprovider">
                    <label class="form-check-label" asp-for="Isparent"> </label>
                </div> 

                 <div class="form-check flex-grow-1">
                    <input class="form-check-input" type="checkbox"  asp-for="Isprovider">
                    <label class="form-check-label" asp-for="Isparent"> </label>
                </div> 


            <!-- Submit button -->
            <div class="d-inline">
                <button class="btn btn-primary mt-4 mx-1" type="submit"> 
                    <i class="fa-solid fa-pen-to-square fa-lg mx-2"></i><span>Edit</span> 
                </button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>

            </div>
        </form>
    </div>
</div>
