@model AddLandForm
<div class="container-fluid">
    <div class="col-sm-5 mx-0 col-lg-4">
        @*action="@Routes.Dashboard.Lands.Add.FullPath"*@
        <form method="post" action="@Routes.Dashboard.Lands.Lands.Add.FullPath" asp-antiforgery="true" class=" mt-3  needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class=" d-flex mb-3  " style="line-height:35px;">
                <h3 class=" ">
                    Add new land
                </h3>
            </div>
            <div class="input-group mb-3 has-validation">
                <span class="input-group-text">@@</span>
                <div class="form-floating col">
                    <input type="text" asp-for="Name" class="form-control" placeholder=" " aria-describedby="NameValidation" required />
                    <label class="form-label" asp-for="Name"></label>
                </div>
                <span id="NameValidation" class="d-block invalid-feedback" asp-validation-for="Name"></span>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Area" class="form-control" placeholder="" aria-describedby="areaValidation" required />
                        <label class="form-label" asp-for="Area"></label>
                    </div>
                    <span id="areaValidation" class="d-block invalid-feedback" asp-validation-for="Area"></span>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Longitude" class="form-control" placeholder="" aria-describedby="longitudeValidation" required />
                        <label class="form-label" asp-for="Longitude"></label>
                    </div>
                    <span id="longitudeValidation" class="d-block invalid-feedback" asp-validation-for="Longitude"></span>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Latitude" class="form-control" placeholder="" aria-describedby="latitudeValidation" required />
                        <label class="form-label" asp-for="Latitude"></label>
                    </div>
                    <span id="latitudeValidation" class="d-block invalid-feedback" asp-validation-for="Latitude"></span>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="text" asp-for="Address" class="form-control" placeholder="" aria-describedby="addressValidation" required />
                        <label class="form-label" asp-for="Address"></label>
                    </div>
                    <span id="addressValidation" class="d-block invalid-feedback" asp-validation-for="Address"></span>
                </div>
            </div>
            <!-- IsUsable input -->
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" asp-for="IsUsed" type="checkbox" value="true" checked />
                <label class="form-check-label" asp-for="IsUsed"></label>
            </div>

            <br />
            <!-- IsUsed input -->
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" type="checkbox" asp-for="IsUsable" value="true" checked />
                <label asp-for="IsUsable"> </label>
            </div>

            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary px-5 my-4">Add</button>
            </div>
        </form>
    </div>
</div>