@model AddLandForm
<div class="container-fluid">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-5">
        @*action="@Routes.Dashboard.Lands.Add.FullPath"*@
        <form method="post" asp-area="Lands" asp-controller="Lands" asp-action="Add" asp-antiforgery="true" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add new land
                </h3>
            </div>
            <div class="input-group mb-3 has-validation">
                <span class="input-group-text">@@</span>
                <div class="form-floating col">
                    <input type="text" asp-for="Name" class="form-control" placeholder=" " required />
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    <label class="form-label" asp-for="Name"></label>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Area" class="form-control" placeholder="" />
                        <label class="form-label" asp-for="Area"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Area"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Longitude" class="form-control" placeholder="" />
                        <label class="form-label" asp-for="Longitude"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Longitude"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Latitude" class="form-control" placeholder="" />
                        <label class="form-label" asp-for="Latitude"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Latitude"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="text" asp-for="Address" class="form-control" placeholder="" />
                        <label class="form-label" asp-for="Address"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Address"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- IsUsable input -->
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" asp-for="IsUsed" type="checkbox" value="true" checked />
                <label class="form-check-label" asp-for="IsUsed"></label>
            </div>

            <br />
            <!-- IsUsed input -->
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" type="checkbox" asp-for="IsUsable" value="true" checked />
                <label asp-for="IsUsable"> </label>
            </div>

            <!-- Submit button -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>