@model APSS.Web.Dtos.LandProductDto
<div class="offcanvas offcanvas-end" id="landProduct" style="background-color:#F3F4F4 !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Land Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form class=" mt-3 align-items-center " method="post" asp-action="">
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add New Land Product
                </h3>
            </div>
            <div class="form-outline mt-3  d-flex">
                <label asp-for="Seasons" class="form-label "> </label>
                <select class="form-select" asp-for="SeasonId" asp-items="@(new SelectList(Model.Seasons,"Id","Name"))">
                    <option selected>Select Product Season</option>
                </select>
            </div>
            <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                <label asp-for="Unit" class="form-label textOverflow"> </label>
                <select class="form-select" asp-for="UnitId" asp-items="@(new SelectList(Model.Units,"Id","Name"))">
                    <option selected>ls</option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <input type="text" asp-for="CropName" class="form-control" />
                <label class="form-label" asp-for="CropName"></label>
            </div>
            <div class="form-outline mb-4">
                <input type="datetime" asp-for="HarvestStart" class="form-control" />
                <label class="form-label" asp-for="HarvestStart"></label>
            </div>
            <div class="form-outline mb-4">
                <input type="datetime" asp-for="HarvestEnd" class="form-control" />
                <label class="form-label" asp-for="HarvestEnd"></label>
            </div>
            <!-- Text input for quantity-->
            <div class="form-outline mb-4">
                <input type="number" asp-for="Quantity" class="form-control" />
                <label class="form-label" asp-for="Quantity"></label>
            </div>

            <!-- Text input irrigationCount-->
            <div class="form-outline mb-4">
                <input type="number" asp-for="IrrigationCount" class="form-control" />
                <label class="form-label" asp-for="IrrigationCount"></label>
            </div>

            <!-- Text input storingMethod-->
            <div class="form-outline mb-4">
                <input type="number" asp-for="StoringMethod" class="form-control" />
                <label class="form-label" asp-for="StoringMethod"></label>
            </div>

            <div class="form-outline mb-4">
                <label for="specificSizeSelect">Irrigation Water Source</label>
                <select class="form-select" id="specificSizeSelect">
                    <option selected>Choose...</option>
                    <option value="1">Natural</option>
                    <option value="2">HumanStored</option>
                    <option value="3">OnDemand</option>
                </select>
            </div>

            <!-- isGovernmentFunded input -->
            <div class="form-outline mb-4">
                <div class="form-check-inline">

                    <h5 class="inline">is Government Funded:</h5>
                </div>
                <br />
                <div class="form-check form-check-inline">

                    <input class="form-check-input hiden" type="radio" name="isGovernmentFunded" id="yes" value="true" checked />
                    <label class="form-check-label" for="yes">Yes</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="false" id="no" name="isGovernmentFunded" />
                    <label class="form-check-label" for="no"> No </label>
                </div>
            </div>
            <br />
            <!-- hasGreenhouse input -->
            <div class="form-check-inline">

                <h5 class="inline"> has Green house: </h5>
            </div>
            <br />
            <div class="form-check form-check-inline">

                <input class="form-check-input hiden" type="radio" name="hasGreenhouse" id="yes" value="true" checked />
                <label class="form-check-label" for="yes">Yes</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="false" id="no" name="hasGreenhouse" />
                <label class="form-check-label" for="no"> No </label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Add</button>
        </form>
    </div>
</div>