@await Html.PartialAsync("_dataNavBar")
<div class="container-fluid  border p-2  col-ms-12  mt-0  rounded ml-2 " id="">

    <form class="row  justify-content-between mb-3 ">
        <div class="col-sm-6">

            <div class="input-group ">

                <span style="height:20px">
                    <a href="#" class="input-group-text text-decoration-none" style="background-color:#1B73B3">

                        <i class="fal fa-search " style="color:white;"></i>
                    </a>
                </span>
                <span class="form-outline " style="width:83%;padding-top:0px">
                    <input type="search" class="form-control" id="search" onkeyup="searchTable()">
                    <label class="form-label">Search</label>
                </span>
                @*<button class="btn btn-outline-secondary dropdown-toggle border border-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Order By</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>*@
            </div>
        </div>
        <div class="col-sm-2  ">

            <select class="form-select " id="searchby">
                <option selected>Choose search by</option>
                <option value="1">Name</option>
                <option value="2">Id</option>
                <option value="3">Address</option>
            </select>
        </div>
    </form>

    <div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-responsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header">
                        <th style="width:10%;" class=" text-capitalize align-middle">ID</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Name</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Harvest Start</th>
                        <th style="width:20%;" class=" text-capitalize align-middle">Harvest End</th>
                        <th style="width:5%;" class=" text-capitalize align-middle">Function</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @await Html.PartialAsync("~/Views/LandProductExpense/_add.cshtml")
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle">
                            john@example.comjohn@example.comjohn@example.comjohn@example.comjohn@example.com
                        </td>
                        <td class="align-middle center">
                            <div class=" dropend">
                                <a class="" href="#" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Details" asp-route-id="">Details</a></li>
                                    <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#landProductExpense">Add Expense</a></li>
                                    <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Update" asp-route-id="">Update</a></li>
                                    <li><a class="dropdown-item" asp-controller="LandProduct" asp-action="Delete" asp-route-id="">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Active</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="float-left pl-5">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@section scripts{
<script>
     document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";
       $("#animalGroups").removeClass('actives');
    $("#animalProducts").removeClass('actives');
    $("#lands").removeClass('actives');
    $("#landProducts").addClass('actives');
</script>
}