@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-end" id="EditFamily" style="background-color:#F3F4F4 !important " >
    <div class="offcanvas-header">
        <h5 class="offcanvas-title"> Family </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">

        <form class=" mt-3 ">
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Edit Family
                </h3>
            </div>
            <div class=" mb-4">
                    <div class="form-outline">
                        <input type="text" id="family_name" name="family_name" class="form-control" />
                        <label class="form-label" for="family_name">Name</label>
                    </div>
                
               
                    <div class="form-outline mt-4">
                        <input type="text" id="LivingLocation" name="LivingLocation" class="form-control" />
                        <label class="form-label" for="LivingLocation">Living Location </label>
                    </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100   mb-4 mt-4">Edit</button>
        </form>
    </div>
</div>

@*<div class="container-fluid mt-3">

    <a class="text-dark fw-bold text-decoration-none" role="button" data-bs-toggle="offcanvas" data-bs-target="#animal_product">
    <i class="fa-solid fa-plus"></i>  Add animal product
    </a>
    </div>*@