
@model APSS.Web.Dtos.FamilyDto

<div class="container-fluid px-3 py-3  shadow-sm">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4 style="border-bottom :2px darkgray solid;">تحديث بيانات عائلة</h4>
        </div>

        <form class=" mt-3 " method="post">
           
            <div class=" mb-4">
                    <div class="form-outline">
                        <input type="text" id="family_name" asp-for="Name" name="family_name" class="form-control" />
                        <label class="form-label" asp-for="Name">Name</label>
                    </div>
                
               
                    <div class="form-outline mt-4">
                        <input type="text" id="LivingLocation" asp-for="LivingLocation" name="LivingLocation" class="form-control" />
                        <label class="form-label" asp-for="LivingLocation">Living Location </label>
                    </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100   mb-4 mt-4" asp-action="UpdateFamily"><i class="fa-solid fa-pen-to-square mx-2 fa-lg"></i>تحديث</button>
        </form>
    </div>
</div>

