  <form class=" mt-3 ">
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Edit Voluntary 
                </h3>
            </div>
            <div class=" mb-4">
                
                    <div class="form-outline">
                        <input type="text" id="name_voluntary" name="name_voluntary" class="form-control" />
                        <label class="form-label" for="name_voluntary">Name</label>
                    </div>
               
                    <div class="form-outline mt-4">
                        <input type="number" id="field_voluntary" name="field_voluntary" class="form-control" />
                        <label class="form-label" for="field_voluntary">Field</label>
                    </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100   mb-4 mt-4">Edit</button>
        </form>