@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-sm-12  ">

        <div class="container mt-3 bg-light table-rsponsive mb-3 table-success table-wrapper-scroll-y table-wrapper-scroll-x ">

            <table class="table table-hover table-responsive table-bordered   table-striped  " id="myTable">

                <thead>
                    <tr class="header  bg-fixed " style="border-bottom:2px #5C5C5C solid;">
                        <th style="width:8%;" class=" text-capitalize align-middle">ID</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Name Family</th>
                        <th style="width:20%;" class=" text-capitalize align-middle">Name Individual</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Isparent</th>
                        <th style="width:30%;" class=" text-capitalize align-middle">Isprovider</th>
                        <th style="width:0%;" class=" text-capitalize align-middle">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-top">
                        @{
                            List<string> ls = new List<string>
                            {
                                "اسم العائلة",
                                "اسومي",
                                "إسم الفرد",
                                "بجاش",
                                "هل هو المعيل ",
                                "مدري",
                                "هل هو حي ",
                                "مدري"
                            };
                        }
                       
                        @await Html.PartialAsync("EditFamilyIndividual.cshtml")
                        @await Html.PartialAsync("../DataManagement/_ConfirmDelete.cshtml",ls)
                        <td class="text-break text-capitalize align-middle">1</td>
                        <td class="text-break text-capitalize align-middle"> John</td>
                        <td class="text-break text-capitalize align-middle">Doe</td>
                        <td class="text-break text-capitalize align-middle">
                            yes
                        </td>
                          <td class="text-break text-capitalize align-middle">
                          no
                        </td>
                        <td class="align-middle center">

                            <div class=" dropend">
                                <a class="" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ConfirmDelete"><div class="d-flex justify-content-between"> <span>Delete</span>  <span><i class="fa-solid fa-trash-can"></i> </span> </div></a></li>
                                        <li class="">
                                        <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#EditFamilyIndividual">
                                        <div class="d-flex justify-content-between"> <span>Update Family Individual</span>  <span><i class="fa-solid fa-pen-to-square"></i> </span> </div></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>