@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Individual Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات الشخص</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <td>اسم </td>
                    <td> حمود</td>
                </tr>
                <tr>
                    <td>العمل </td>
                    <td>شغال</td>
                </tr>
                <tr>
                    <td>العنوان   </td>
                    <td> بيتهم</td>
                </tr>
                <tr>
                    <td>رقم الباقة   </td>
                    <td>0387268</td>
                </tr>
                <tr>
                    <td>العائلة  </td>
                    <td>واحد </td>
                </tr>
                <tr>
                    <td>الهاتف   </td>
                    <td>77777</td>
                </tr>
                <tr>
                    <td>الجنس   </td>
                    <td>رجال</td>
                </tr>
                <tr>
                    <td>الحالة الإجتماعية  </td>
                    <td>منكوب  </td>
                </tr>
                <tr>
                    <td><span class="">الرجال </span></td>
                </tr>
                <tr>
                    <td>  تاريخ الإضافة </td>
                    <td><span class="">تاريخ الإظافة  </span></td>
                </tr>
                <tr>
                    <td>   اخر تعديل في   </td>
                    <td><span class="">مدري </span></td>
                </tr>
              
            </tbody>
        </table>
        <div class="d-flex justify-content-between ">
        <div class="d-flex justify-content-start">
        <a class="btn text-primary shadow-0 btn-link text-decoration-none" id="showskill" style="font-size:18px" onclick="showskills()"><span class=""><i class="fa-solid fa-angles-left" id="angleskill"></i></span> المهارات </a>
        <a class="btn text-primary shadow-0 btn-link text-decoration-none" id="showvoluntary" style="font-size:18px" onclick="showvoluntary()"><span class=""><i class="fa-solid fa-angles-left" id="anglevoluntary"></i></span> التطوعات </a>
         </div>
        <div class="d-inline pt-2 d-flex justify-content-start"> 
            <button class="btn btn-outline-primary btn-rounded mx-2 "><i class="fa-solid fa-share mx-2"></i><span>رجوع</span>  </button>
        <button  class="btn btn-outline-dark btn-rounded mx-2"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
        <button class="btn btn-outline-danger btn-rounded mx-2"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
        </div>
        </div>
    </div>
    <hr class="border-light mt-1">
    <div id="skill"  class="showdefualtdetails" >
    <partial name="GetSkills" />
    </div>
        <div id="voluntary"  class="showdefualtdetails" >
    <partial name="GetVoluntaries"  class="showdefualtdetails" />
    </div>
</div>




    <script>
function showvoluntary() {
    if ($("#voluntary").hasClass("showdefualtdetails")) {
        $("#voluntary").removeClass("showdefualtdetails");
        $("#voluntary").addClass("showdetails");
        $("#skill").addClass("showdefualtdetails");
        $("#skill").removeClass("showdetails");
        $("#anglevoluntary").removeClass("fa-angles-left");
        $("#anglevoluntary").addClass("fa-angles-down");

       if ($("#angleskill").hasClass("fa-angles-down")) {
            $("#angleskill").removeClass("fa-angles-down");
            $("#angleskill").addClass("fa-angles-left");
         }

        
    }

else if ($("#voluntary").hasClass("showdetails")) {
    $("#voluntary").removeClass("showdetails");
    $("#voluntary").addClass("showdefualtdetails");
    $("#skill").addClass("showdefualtdetails");
    $("#skill").removeClass("showdetails");
    $("#anglevoluntary").removeClass("fa-angles-down");
    $("#anglevoluntary").addClass("fa-angles-left");
    
    }
}

function showskills() {
    if ($("#skill").hasClass("showdefualtdetails")) {

        $("#skill").removeClass("showdefualtdetails");
        $("#skill").addClass("showdetails");
        $("#voluntary").addClass("showdefualtdetails");
        $("#voluntary").removeClass("showdetails");
        $("#angleskill").removeClass("fa-angles-left");
        $("#angleskill").addClass("fa-angles-down");

        if ($("#anglevoluntary").hasClass("fa-angles-down")) {
            $("#anglevoluntary").removeClass("fa-angles-down");
            $("#anglevoluntary").addClass("fa-angles-left");
        }
    }
    
    else if ($("#skill").hasClass("showdetails")) {
    $("#skill").removeClass("showdetails");
    $("#skill").addClass("showdefualtdetails");
    $("#voluntary").addClass("showdefualtdetails");
    $("#voluntary").removeClass("showdetails");
    $("#angleskill").removeClass("fa-angles-down");
    $("#angleskill").addClass("fa-angles-left");
    }
}
    </script>
