@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Animal Product Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات الشخص</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <td>اسم </td>
                    <td> حمود</td>
                </tr>
                <tr>
                    <td>العمل </td>
                    <td>شغال</td>
                </tr>
                <tr>
                    <td>العنوان   </td>
                    <td> بيتهم</td>
                </tr>
                <tr>
                    <td>رقم الباقة   </td>
                    <td>0387268</td>
                </tr>
                <tr>
                    <td>العائلة  </td>
                    <td>واحد </td>
                </tr>
                <tr>
                    <td>الهاتف   </td>
                    <td>77777</td>
                </tr>
                <tr>
                    <td>الجنس   </td>
                    <td>رجال</td>
                </tr>
                <tr>
                    <td>الحالة الإجتماعية  </td>
                    <td>منكوب  </td>
                </tr>
                <tr>
                    <td>المستخدم   </td>
                    <td><span class="">الابار </span></td>
                </tr>
                <tr>
                    <td>  تاريخ الإضافة </td>
                    <td><span class="">تاريخ الإظافة  </span></td>
                </tr>
                <tr>
                    <td>   اخر تعديل في   </td>
                    <td><span class="">مدري </span></td>
                </tr>
              
            </tbody>
        </table>
        <a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> المهارات </a>
        <a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التطوعات </a>
    </div>
    <hr class="border-light m-0">
</div>