@model APSS.Web.Dtos.AnimalProductDto

<div class="container-fluid">
    <div class="col-sm-12 col-lg-8">
        <form class="mt-3 needs-validation" id="ProductForm" method="post" asp-antiforgery="true" asp-controller="Products" asp-action="Add" novalidate>
            <!-- 2 column puts for the National number and Phome Number-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProducerId" />
            <div class="mb-4"><h2 class="fw-light ">Add Animal Product  </h2></div>
            <div class="row d-flex justify-content-between">
                <div class="col-sm-6 mb-4 has-validation">
                    <div class="input-group">
                        <span class="input-group-text">@@</span>
                        <div class="form-floating col">
                            <input type="text" asp-for="Name" placeholder="Name" class="form-control" aria-describedby="nameValidation" required />
                            <label class="" asp-for="Name">Name</label>
                        </div>
                        <span asp-validation-for="Name" id="nameValidation" class="invalid-feedback d-block"></span>
                    </div>
                </div>
                <div class="col-sm-6 mb-4 has-validation  d-flex">
                    <div class="input-group">
                        <span class="input-group-text">00:00:00</span>
                        <div class="form-floating col">
                            <input type="time" asp-for="PeriodTaken" asp-format="[-][d'.']hh':'mm':'ss['.'fffffff]" placeholder="PeriodTaken" class="form-control" aria-describedby="periodTakenValidation" required />
                            <label class="form-label" asp-for="PeriodTaken"></label>
                        </div>
                        <span asp-validation-for="PeriodTaken" id="periodTakenValidation" class="invalid-feedback d-block"></span>
                    </div>
                </div>
            </div>

            <div class="  mb-4 has-validation">
                <div class="input-group">
                    <span class="input-group-text">Kg</span>
                    <div class="form-floating col">
                        <input type="number" class="form-control" asp-for="Quantity" min="1" placeholder="Quantity" aria-describedby="quantityValidation" required />
                        <label asp-for="Quantity" class=""></label>
                    </div>
                    <span asp-validation-for="Quantity" id="quantityValidation" class="invalid-feedback d-block"></span>
                </div>
            </div>

            <!-- selectinput for Unit -->
            <div class=" mb-4">
                <div class="input-group">
                    <span class="input-group-text">U</span>
                    <div class="form-floating col">
                        <select class="form-select" asp-for="UnitId" aria-describedby="unitValidation" asp-items="@(new SelectList(Model.Unit,"Id","Name"))" required>
                            <option selected>select Unit</option>
                        </select>
                        <label asp-for="Unit" class=""></label>
                    </div>
                    <span asp-validation-for="Unit" id="unitValidation" class="invalid-feedback d-block"></span>
                </div>
            </div>
            <!--  animal group Producer -->
            <input type="hidden" asp-for="ProducerId" />
            <!-- Submit button -->
            <div class="d-flex justify-content-end">
                <a onClick="history.go(-1); return false;" class="btn btn-link text-decoration-none my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>
                <button type="submit" class="btn btn-primary  px-5  mb-4 mt-4">Add</button>
            </div>
        </form>
    </div>
</div>

@section scripts{

<script>
             $(document).ready(function(){
            $(".sidebar ul li.active").removeClass('active');
             $("#dataManagement").addClass('active');
            });

                $(document).ready(function(){
                 $(".scrollmenu a.MediaActive").removeClass('MediaActive');
                 $("#animalProductMedia").addClass('MediaActive')

             });
               document.getElementById("nav-system-name").innerHTML="Data Management";
            document.getElementById("media-system-name").innerHTML="Data Management";

                $("#animalGroups").removeClass('actives');
               $("#lands").removeClass('actives');
           $    ("#landProducts").removeClass('actives');
                $("#confirmation").removeClass('actives');
            $    ("#units").removeClass('actives');
             $("#animalProducts").addClass('actives');

    <script     type="text/javascript">
            func    tion AddAnimalGroup() {
                    var data = $("#ProductForm").serialize();
                    console.log(data);
                $.aj    ax({
                        type: 'POST',
                        url: '/DataManagement/CreateAnimalProduct',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
                        data: data,
                    suc    cess: function (result) {
                       a    lert('Successfully received Data ');
                            console.log(result);
                        },
                    err    or: function () {
                       a    lert('Failed to receive the Data');
                            console.log('Failed ');
                        }
                    })
                }
            @{
                       // await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
</script>
}