@model APSS.Web.Dtos.AnimalProductDto

<div class="container-fluid">
    <div class="col-sm-12 col-lg-6 mx-lg-4 mx-sm-2">
        <form class="mt-3 needs-validation" id="ProductForm" method="post" asp-controller="Products" asp-action="Edit" novalidate>
            <!-- 2 column puts for the National number and Phome Number-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex justify-content-center mb-4"><h4> Edit Animal Product </h4></div>
            <div class="row d-flex justify-content-between">
                <div class="col-sm-6 mb-4 ">
                    <div class="input-group">
                        <span class="input-group-text">@@</span>
                        <div class="form-floating col">
                            <input type="text" asp-for="Name" placeholder="Name" class="form-control" required />
                            <label class="" asp-for="Name">Name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-4   d-flex">
                    <div class="input-group">
                        <span class="input-group-text">00:00:00</span>
                        <div class="form-floating col">
                            <input type="number" asp-for="PeriodTaken" placeholder="PeriodTaken" class="form-control" />
                            <label class="form-label" asp-for="PeriodTaken"></label>
                            <span asp-validation-for="PeriodTaken" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="  mb-4">
                <div class="input-group">
                    <span class="input-group-text">Kg</span>
                    <div class="form-floating col">
                        <input type="number" class="form-control" min="1" placeholder="Number" asp-for="Quantity" required />
                        <label asp-for="Quantity" class=""></label>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- selectinput for Unit -->
            <div class=" mb-4">
                <div class="input-group">
                    <span class="input-group-text">U</span>
                    <div class="form-floating col">
                        <select class="form-select" asp-for="UnitId" asp-items="@(new SelectList(Model.Unit,"Id","Name"))" required>
                            <option selected>select Unit</option>
                        </select>
                        <label asp-for="Unit" class=""></label>
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!--  animal group Producer -->
            <input type="hidden" asp-for="ProducerId" />            <!-- Submit button -->
            <button type="submit" class="btn btn-primary  w-25  mb-4 mt-4">Edit</button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">Cancel</a>
            @*<a onClick="history.go(-1); return false;" class="btn btn-link w-25 my-4 mx-3" style="background-color:#DCEEFB">الغاء</a>*@
        </form>
    </div>
</div>

@section scripts{
<script>

     $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
     $("#dataManagement").addClass('active');
    });

        $(document).ready(function(){
         $(".scrollmenu a.MediaActive").removeClass('MediaActive');
         $("#animalProductMedia").addClass('MediaActive')

     });
       document.getElementById("nav-system-name").innerHTML="Data Management";
    document.getElementById("media-system-name").innerHTML="Data Management";

       $("#animalGroups").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
         $("#animalProducts").addClass('actives');
</script>
    }