@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-end" id="Add_product_Expense" style="background-color:#F3F4F4 !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Animal Product Expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form class="form-card" onsubmit="">
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add New Product Expense
                </h3>
            </div>
            <input type="hidden" name="id" />
            <div class="row justify-content-between ">
                <!-- 1 -->
                <div class=" col-sm-6 mt-3 flex-column form-group d-flex">
                    <div class="form-outline form-group" id="">
                        <input type="text" name="expenseTyep" class="form-control" id="expenseTyep " />
                        <label for="expenseTyep" class="form-label textOverflow">Expense Type </label>
                    </div>
                </div>
                <!-- 2 -->
                <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                    <div class="form-outline form-group" id="">
                        <input type="number" name="price" class="form-control" id="price" />
                        <label for="price" class="form-label">Price</label>
                    </div>
                </div>
            </div>
            <!-- row 5 -->                <div class="row justify-content-between   mt-3"></div>
            <button class="btn btn-primary w-100 "><i class="fa-solid fa-plus"></i>Add</button>
        </form>
    </div>
</div>
</div>
</div>
</div>