@model APSS.Web.Dtos.ProductExpenseDto

<div class="container-fluid px-3 py-3  shadow-sm">
    <div class="col-sm-6">
        <div class="d-flex justify-content-center">
            <h4 style="border-bottom :2px darkgray solid;">اضافة تكلفة</h4>
        </div>
        <form class="" onsubmit="" method="Post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="row justify-content-between ">
                <!-- 1 -->
                <div class="form-outline my-3 " id="">
                    <input type="text" class="form-control" asp-for="Type" />
                    <label asp-for="Type" class="form-label "> </label>
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
                <!-- 2 -->
                <div class="form-outline  " id="">
                    <input type="number" class="form-control" asp-for="Price" />
                    <label asp-for="Price" class="form-label"></label>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="row justify-content-between   mt-3"></div>
            <a class="btn btn-primary  "><i class="fa-solid fa-plus "></i> <span>اضافة</span></a>
        </form>
    </div>
</div>