@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Animal Product Detials";
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:4px"></i> <h3>معلومات المنتج</h3></div>

        <table class="table user-view-table m-0 t ">
            <tbody style="font-size:14px">
                <tr class="">
                    <td>اسم المنتج</td>
                    <td> قات</td>
                </tr>
                <tr>
                    <td>تاريخ الانتاج/الحصاد </td>
                    <td>01/23/2018 (قبل 12 يوم)</td>
                </tr>
                <tr>
                    <td>الكمية   </td>
                    <td>1000 علاقية</td>
                </tr>
                <tr>
                    <td>رقم الباقة   </td>
                    <td>0387268</td>
                </tr>
                <tr>
                    <td>النوع  </td>
                    <td>فواكة </td>
                </tr>
                <tr>
                    <td>طريقة التخزين  </td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>طريقة الري  </td>
                    <td>الغمر</td>
                </tr>
                <tr>
                    <td>عدد مرات الري  </td>
                    <td>7 مرات  </td>
                </tr>
                <tr>
                    <td>مصدر الري   </td>
                    <td><span class="">الابار </span></td>
                </tr>
                <tr>
                    <td>مصدر  طاقة الري   </td>
                    <td><span class="">مولدات </span></td>
                </tr>
                <tr>
                    <td>   سماد   </td>
                    <td><span class="">-- </span></td>
                </tr>
                <tr>
                    <td>   مبيد حشري   </td>
                    <td><span class="">-- </span></td>
                </tr>
                <tr>
                    <td>   بداية الحصاد      </td>
                    <td><span class="">10/6/2022 </span></td>
                </tr>
                <tr>
                    <td>  نهاية الحصاد    </td>
                    <td><span class="">20/6/2022 </span></td>
                </tr>
                <tr>
                    <td>دعم حكومي/حاص</td>
                    <td>لا يوجد</td>
                </tr>

                <tr>
                    <td>الموسم</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>اسم الارض المنتجة</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
        <a class="btn text-primary shadow-0 btn-link text-decoration-none" style="font-size:18px"><span class=""><i class="fa-solid fa-angles-left"></i></span> التكلفة </a>
    </div>
    <hr class="border-light m-0">
</div>