  <div class="danger d-flex justify-content-between p-3 " id="flip">
    <p><strong>يرجاء</strong> التاكد من صحة المعلومات</p>
    <i id="dis" class="fa fa-angle-down fa-lg"></i>
  </div>
  <div id="panel">
    <!-- <span>Hello world! </span> <span> -->
      <div class="card mt-2 rounded-0" id="flip-body">
        <div class="d-inline">
        </div>
        <div class="card-body">
            <div class="d-flex ">

                 <h3>معلومات الحيوان</h3>
            </div>
                <table class="table user-view-table m-0 t ">
                <tbody>
                    <tr class="">
                        <td>نوع الحيوان</td>
                        <td> دغاغة</td>
                    </tr>
                    <tr>
                        <td> الكمية</td>
                        <td>12 </td>
                    </tr>
                    <tr>
                        <td>الجنس   </td>
                        <td> عيب</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            <br />
            <div cllass="d-inline pt-2">
             <button  class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
            <button class="btn btn-outline-danger btn-rounded mx-1"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
            </div>
            <!-- @*<a id="III" class="btn text-primary shadow-0 btn-link text-decoration-none"><span class=""><i class="fa-solid fa-angles-left"></i></span> المنتجات</a>*@ -->
        </div>
    </div>
  </div>