@model APSS.Web.Dtos.VoluntaryDto  
<form class=" mt-3 ">
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                   تحديث 
                </h3>
            </div>
            <div class=" mb-4">
                
                    <div class="form-outline">
                        <input type="text" id="name_voluntary" asp-for="Name"  name="name_voluntary" class="form-control" />
                        <label class="form-label" asp-for="Name">@Model.Name</label>
                    </div>
               
                    <div class="form-outline mt-4">
                        <input type="number" id="field_voluntary" asp-for="Field" name="field_voluntary" class="form-control" />
                        <label class="form-label" for="field_voluntary" asp-for="Field">@Model.Field</label>
                    </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100   mb-4 mt-4" asp-action="UpdateVoluntary"><i class="fa-solid fa-pen-to-square fa-lg"></i>تحديث</button>
        </form>