@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-end" id="AddAccount">
    <div class="offcanvas-header shadow-sm">
        <h5 class="offcanvas-title">Add New Account </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form class=" mt-3 " method="post" asp-action="Privacy">
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class="text-decoration-underline">
                    Required Information
                </h3>
            </div>
            <!-- Text input for account name-->
            <div class="form-outline mb-4">
                <input type="text" id="account-name" name="account-name" class="form-control" />
                <label class="form-label" for="account-name">Name</label>
            </div>
            <!-- Text input for AccessLevel -->
            <div class="form-outline mb-4">
                <input type="password" id="account-passwor" name="account-password" class="form-control d-inline" />
                <label class="form-label" for="account-password">Password</label>
            </div>
            <!-- account Permission -->
            <div class="form-check-inline">
                <h5 class="inline">Permission:</h5>
            </div>
            <!--read Permission -->
            <div class="form-check form-check-inline">
                <input class="form-check-input hiden" type="checkbox" name="read" id="read" value="read" checked />
                <label class="form-check-label" for="read">Read</label>
            </div>
            <!--write Permission -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="write" id="write" name="gender" />
                <label class="form-check-label" for="write"> Write </label>
            </div>
            <!--update Permission -->
            <div class="form-check form-check-inline  ">
                <input class="form-check-input" type="checkbox" value="update" id="update" name="update" />
                <label class="form-check-label" for="update"> Update </label>
            </div>            <!--delete Permission -->
            <div class="form-check form-check-inline  ">
                <input class="form-check-input" type="checkbox" value="delete" id="delete" name="delete" />
                <label class="form-check-label" for="delete"> Delete </label>
            </div>
            <!--full Permission -->
            <div class="form-check form-check-inline  ">
                <input class="form-check-input" type="checkbox" value="full" id="full" name="full" />
                <label class="form-check-label" for="full"> Full </label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Add</button>
        </form>
    </div>
</div>