<div class="card mt-2">
    <div class="card-body">
        <nav class="navbar navbar-expand-lg s py-0 rounded mt-1 mx-0 shadow-0  ">
            <div class="container-fluid mx-0 ">
                <div class="col-sm-2 d-flex ">
                    <i class="fa-solid fa-caret-left fs-1 rotation-x" style="padding-left:2px"></i> <h4 class="rotation-x">معلومات الحساب</h4>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#farmer" aria-controls="farmer" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-0   " id="farmer" style="padding-bottom: 8px;">
                    <div class="d-flex justify-content-end">
                        <ul class="d-flex navbar-nav me-auto  my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item px-1  ">
                                <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">الممتلكات الحيوانية <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                            </li>
                            <li class="nav-item px-1  ">
                                <div class="opecity-header c pt-1"><a href="#" class="  text-decoration-none">الممتلكات الحيوانية <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                            </li>

                            <li class="nav-item px-1 ">
                                <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">الممتلكات الحيوانية <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                            </li>
                            <li class="nav-item  px-1">
                                <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">الممتلكات الحيوانية <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <table class="table user-view-table m-0 ">
            <tbody>
                <tr class="">
                    <td>اسم الحساب</td>
                    <td> عبودي علي الطري</td>
                </tr>
                <tr>
                    <td>تاريخ الاضافة </td>
                    <td>01/23/2018 (قبل 12 يوم)</td>
                </tr>
                <tr>
                    <td>رقم التلفون  </td>
                    <td>777777777</td>
                </tr>
                <tr>
                    <td>رقم الباقة   </td>
                    <td>0387268</td>
                </tr>
                <tr>
                    <td>العمل  </td>
                    <td>مش رجال</td>
                </tr>
                <tr>
                    <td>الحالة الاجتماعية </td>
                    <td>مكلود</td>
                </tr>
                <tr>
                    <td>حالة الحساب </td>
                    <td><span class="fa fa-check text-primary"></span>نشط</td>
                </tr>
                <tr>
                    <td>تم الاضافة بواسطة</td>
                    <td>اموني القاضي </td>
                </tr>
                <tr>
                    <td>اسم  المستخدم </td>
                    <td><span class="">ينب مطر</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table card-table m-0">
            <tbody>
                <tr style="border-top:1px rgb(87, 84, 84) solid ;">
                    <th> الصلاحيات</th>
                    <th> <span class="fa fa-check text-primary p-1"></span>القراة</th>
                    <th> <span class="fa fa-check text-primary p-1"></span>التعديل</th>
                    <th><span class="fa fa-check text-primary p-1"></span>الاضافة </th>
                    <th><span><i class="fa-solid fa-xmark text-danger p-1"></i></span>الحذف</th>
                </tr>
            </tbody>
        </table>
        <a role="button" class="btn btn-link text-decoration-none text-primary  shadow-0">تفاصيل اكتر <span><i class="fa-solid fa-angles-left "></i></span></a>
    </div>
</div>