<nav class="navbar navbar-expand-lg s py-0 rounded mt-1 mx-0 shadow-0  ">
    <div class="container-fluid mx-0 ">

        <div class="d-flex justify-content-between d-md-none d-block w-100 mx-0 ">

            <div class="scrollmenu shadow-sm">
                <a href="#home" class="styles">الممتلكات الحيوانية</a>
                <a href="#news"> الاراضي </a>
            </div>
        </div>

        @* <div class="  navbar-brand collapse navbar-collapse ml-0 ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item  ml-1">
            </li>
            </ul>
            </div>*@

        <div class="collapse navbar-collapse mx-0 justify-content-start  pt-3 " id="farmer" style="padding-bottom: 8px;">
            <div class="d-flex justify-content-end">
                <ul class="d-flex navbar-nav me-auto  my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <i class="fa-solid fa-caret-left fs-1 rotation-x" style="padding-left:2px"></i>
                    <h4 class="rotation-x">معلومات الحساب</h4>
                    <li></li>
                    <li class="nav-item px-1  ">

                        <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">الممتلكات الحيوانية <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                    </li>
                    <li class="nav-item px-1  ">
                        <div class="opecity-header c pt-1"><a href="#" class="  text-decoration-none">الاراضي <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                    </li>

                    <li class="nav-item px-1 ">
                        <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">المعلومات الشخصية  <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                    </li>
                    @* <li class="nav-item  px-1">
                        <div class="opecity-header   pt-1"><a href="#" class="  text-decoration-none">الممتلكات  <span><i class="fa-solid fa-angles-left "></i></span></a></div>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="card mt-2 ">
    <div class="card-body ">
        <table class="table user-view-table m-0 ">
            <tbody>
                <tr class="">
                    <th>اسم الحساب</th>
                    <td>  الاسم </td>
                </tr>
                <tr>
                    <th>تاريخ الاضافة </th>
                    <td>01/23/2018 (قبل 12 يوم)</td>
                </tr>
                <tr>
                    <th>رقم التلفون  </th>
                    <td>777777777</td>
                </tr>
                <tr>
                    <th>رقم الباقة   </th>
                    <td>0387268</td>
                </tr>
                <tr>
                    <th>العمل  </th>
                    <td>--</td>
                </tr>
                <tr>
                    <th>الحالة الاجتماعية </th>
                    <td>--</td>
                </tr>
                <tr>
                    <th>حالة الحساب </th>
                    <td><span class="fa fa-check text-primary" style="padding-left:5px"></span>نشط</td>
                </tr>
                <tr>
                    <th>تم الاضافة بواسطة</th>
                    <td> --- </td>
                </tr>
                <tr>
                    <th>اسم  المستخدم </th>
                    <td><span class="">ينب مطر</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table card-table m-0">
            <tbody>
                <tr style="border-top:1px rgb(87, 84, 84) solid ;">
                    <th> الصلاحيات</th>
                    <th> <span class="fa fa-check text-primary p-1"></span>القراة</th>
                    <th> <span class="fa fa-check text-primary p-1"></span>التعديل</th>
                    <th><span class="fa fa-check text-primary p-1"></span>الاضافة </th>
                    <th><span><i class="fa-solid fa-xmark text-danger p-1"></i></span>الحذف</th>
                </tr>
            </tbody>
        </table>
        <div cllass="d-inline pt-2">
            <button class="btn btn-outline-dark btn-rounded mx-1"> <i class="fa-solid fa-pen-to-square mx-2"> </i><span>تعديل</span> </button>
            <button class="btn btn-outline-danger btn-rounded mx-1"> <i class="fa-solid fa-trash-can mx-2"></i><span>حذف</span>  </button>
        </div>
    </div>
</div>