@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex "> <i class="fa-solid fa-caret-left fs-1 " style="padding-left:3px"></i> <h3>معلومات المستخدم</h3></div>        <table class="table user-view-table m-0 t ">

            <table class="table user-view-table m-0 ">
                <tbody>
                    <tr class="">
                        <td>اسم المستخدم</td>
                        <td>عبودي</td>
                    </tr>
                    <tr>
                        <td>تاريخ الاضافة </td>
                        <td>01/23/2018 (قبل 12 يوم)</td>
                    </tr>
                    <tr>
                        <td>حالة المستخدم </td>
                        <td><span class="fa fa-check text-primary"></span>نشط</td>
                    </tr>
                    <tr>
                        <td>عدد الحسابات:</td>
                        <td>10 حسابات</td>
                    </tr>
                    <tr>
                        <td>الحسابات الموقفة</td>
                        <td><span class="">1 حساب</span></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table card-table m-0">
            <tbody>
                <tr style="border-top:1px rgb(87, 84, 84) solid ;">
                    <th>الحسابات الصلاحيات</th>
                    <th>القراة</th>
                    <th>الكتابة</th>
                    <th>الاضافة</th>
                    <th>الحذف</th>
                </tr>
                <tr>
                    <td>اسم </td>
                    <td><span class="fa fa-check text-primary"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                </tr>
                <tr>
                    <td>اسم </td>
                    <td><span class="fa fa-check text-primary"></span></td>
                    <td><span class="fa fa-check text-primary"></span></td>
                    <td><span class="fa fa-check text-primary"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                </tr>
                <tr>
                    <td>اسم </td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                </tr>
                <tr>
                    <td>
                        (-----)
                    </td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                    <td><span class="fa fa-times text-light"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>