@model APSS.Web.Dtos.AccountDto
 @await Html.PartialAsync("_requiredStyle.cshtml")
<div class="container">
    <div class="d-flex col-sm-12 col-lg-5">
        <form class=" mt-3 " method="post" asp-action="AdditionalAccountInfo" asp-controller="Accounts">
            <!-- 2 column puts for the type  and quantity of animal-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    اضاقة
                </h3>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="national_numaber" asp-for="NationalId" class="form-control" />
                        <label class="form-label" asp-for="NationalId"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="phone_number" asp-for="PhoneNumber" class="form-control" />
                        <label class="form-label" asp-for="PhoneNumber"></label>
                    </div>
                </div>
            </div>

            <div class="form-outline">
                <input type="number" id="job" asp-for="Job" class="form-control" />
                <label class="form-label" asp-for="Job">Job</label>
            </div>

            <!-- Social Status -->
            <div class="mt-4">

                <select class="form-select " asp-for="SocialStatus" aria-label="Default select ">
                    <option selected>Social Status</option>
                    <option value="Married">Married</option>
                    <option value="Unmarried">Unmarried</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Unspecified">Unspecified</option>
                </select>
            </div>            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">اضافة</button>
        </form>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
      document.getElementById("media-system-name").innerHTML="ادارة الموظفين";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');

         $("#accounts").addClass('actives');
</script>
}