@model APSS.Web.Dtos.AccountDto
 @await Html.PartialAsync("_requiredStyle.cshtml")
<div class="container">
    <div class="row d-flex justify-content-start">
        <div class="col-lg-8 col-sm-11 px-sm-2 mx-lg-4">
            <div class="d-flex  justify-content-center  pt-4">
                <form class=" mt-2 w-100" method="post" asp-controller="Accounts" asp-action="EditAccount">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="UserId" />
                    <!-- 2 column puts for the National number and Phome Number-->
                    <div class="center d-flex justify-content-center mb-2 ">
                        <h3 class="">
                            تعديل معلومات الموظف
                        </h3>
                    </div>
                    <!-- Text input for account name-->
                    <div class=" row d-flex mt-3 justify-content-between">
                        <div class="col-sm-6  flex-column form-group d-inline ">
                            <span class="text-danger fw-bold">*</span>
                            <label class="form-label" asp-for="HolderName"></label>
                            <input type="text" id="account-name" asp-for="HolderName" class="form-control" />
                            <span asp-validation-for="HolderName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6  flex-column form-group d-inline">
                            <span class="text-danger fw-bold">*</span>
                            <label class="form-label" asp-for="PasswordHash"></label>
                            <input type="password" id="account-passwor" asp-for="PasswordHash" class="form-control d-inline" />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Text input for AccessLevel -->
                    <div class="row d-flex mt-3 justify-content-between">
                        <div class="col-sm-6  flex-column form-group d-flex">
                            <label class="form-label" asp-for="NationalId"></label>
                            <input type="text" id="account-passwor" asp-for="NationalId" class="form-control d-inline" />
                            <span asp-validation-for="NationalId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6  flex-column form-group d-flex">
                            <label class="form-label" asp-for="PhoneNumber"></label>
                            <input type="text" id="account-passwor" asp-for="PhoneNumber" class="form-control d-inline" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label" asp-for="Job"></label>
                        <input type="text" id="account-passwor" asp-for="Job" class="form-control d-inline" />
                        <span asp-validation-for="Job" class="text-danger"></span>
                    </div>
                    <div class="row d-flex mt-3 justify-content-between">
                        <div class=" col-sm-6   flex-column form-group d-flex">
                            <label class="select-label mb-2" asp-for="SocialStatus"></label>
                            <select class="form-select" asp-for="SocialStatus" asp-items="@ViewBag.socialstatus"></select>
                        </div>
                        <div class=" col-sm-6   flex-column form-group d-flex ">
                            <label class="select-label mb-2" asp-for="Permissions">الصلاحيات</label>
                            <select class="form-select" asp-for="Permissions" asp-items="@ViewBag.permission"></select>
                        </div>
                    </div>

                    <!-- account Permission -->
                    @*  <div class="form-check-inline">
                        <h5 class="inline">الصلاحيات:</h5>
                        </div>*@
                    <!--read Permission -->
                    @*         <!--delete Permission -->
                        <div class="form-check form-check-inline  ">
                        <input class="form-check-input" type="checkbox" value="delete" id="delete" asp-for="DeletePermission" />
                        <label class="form-check-label" asp-for="DeletePermission">  </label>
                        </div>*@
                    <div class="d-flex justify-content-start mt-3">
                        <h5>حالة الحساب </h5>
                    </div>
                    <div class="form-check form-check-inline  ">
                        <input class="form-check-input" type="radio" value="true" asp-for="IsActive" />
                        <label class="form-check-label" asp-for="IsActive">  </label>
                    </div>
                    <br />
                    <!-- Submit button -->
                    <div>
                        <button type="submit" class="btn btn-primary w-25 mb-4 mt-4">تعديل</button>
                        <a onClick="history.go(-1); return false;" class="btn btn-link my-4 w-25 mx-3" style="background-color:#DCEEFB">الغاء</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script>
        $(document).ready(function(){
    $(".sidebar ul li.active").removeClass('active');
    $("#accountManagement").addClass('active');
    });
     document.getElementById("nav-system-name").innerHTML="ادارة الموظفين";
      document.getElementById("media-system-name").innerHTML="ادارة الموظفين";

    $(".scrollmenu a").on('click',function(){
        $(".scrollmenu a.MediaActive").removeClass('MediaActive');

    });
    $(".manage-ment ul li a").on('click',function(){
        $(".scrollmenu a.actives").removeClass('actives');
        $("#animalGroups").addClass('actives');

    });
    $("#users").removeClass('actives');
       $("#lands").removeClass('actives');
       $("#landProducts").removeClass('actives');
        $("#confirmation").removeClass('actives');
        $("#units").removeClass('actives');
        $("#userMedia").removeClass('actives');
         $("#accounts").addClass('actives');
         $("#accountMedia").addClass('actives');
</script>
}