@{
    ViewData["title"] = "Add Product Expense Page";
}
<form class=" mt-3 ">
    <!--  column puts for the Land Product Expense Type -->
    <div class="center d-flex justify-content-center mb-3 ">
        <h3 class=" ">
            Land Product Expense Information
        </h3>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="landProductExpense_type" name="landProductExpense_type" class="form-control" />
        <label class="form-label" for="landProductExpense_type">Land Product Expense Type</label>
    </div>
    <div class="form-outline mb-4">
        <input type="number" id="price" name="price" class="form-control" />
        <label class="form-label" for="price">price</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Add</button>
</form>