@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid  mx-auto ml-0 ">
    <div class="row d-flex justify-content-start">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11  shadow-sm pb-3">
            <div class="d-flex  justify-content-center pb-4 pt-4">
                <div class=""> <h3 class="text-decoration-underline textOverflow ">Add New Land Product</h3></div>
            </div>
            <form class="form-card" onsubmit="">
                <!-- row 1 -->
                <div class="row justify-content-between  ">
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <label for="season" class="form-label textOverflow"> Select Season</label>
                        <select class="form-select" name="season_type" aria-label="season type" id="select_season">
                            <option selected>Select Season</option>
                            <option value="1">season 1</option>
                            <option value="2">season 2</option>
                            <option value="3">season 3</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <label for="product_unit " class="form-label textOverflow"> Select Product Unit</label>
                        <select class="form-select" name="product_unit" aria-label="product unit" id="selectProductUnit">
                            <option selected>Select Product Unit</option>
                            <option value="1">uint 1</option>
                            <option value="2">unit 2</option>
                            <option value="3">unit 3</option>
                        </select>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row justify-content-between  ">
                    <div class=" mt-3  col-sm-6 flex-column form-group d-flex">
                        <div class="form-outline">
                            <input type="text" name="productName" class="form-control" aria-label="Text input for product name">
                            <label for="productName" class="form-label textOverflow">Prodcut Name</label>
                        </div>
                    </div>

                    <div class=" col-sm-6 mt-3 form-group flex-column d-flex">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="productQuantity" class="form-control" id="productQuantity">
                            <label for="productQuantity" class="form-label textOverflow">Product Quantity</label>
                        </div>
                    </div>
                </div>
                <!-- row 3 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->

                    <div class=" col-sm-6 mt-3 flex-column form-group d-flex">
                        <label for="irrigationPowerSource" class="form-label textOverflow">Water  power Source</label>
                        <select class="form-select" name="irrigationPowerSource" aria-label="water source power" id="">
                            <option value="none">None</option>
                            <option value="Renewable"> Renewable</option>
                            <option value="FossileFuel">FossileFuel</option>
                        </select>
                    </div>
                    <!-- 2 -->
                    <div class=" col-sm-6 mt-3 flex-column d-flex">
                        <label for="irrigationWaterSource" class="form-label textOverflow">Water Source</label>
                        <select class="form-select" name="irrigationWaterSource" aria-label="water source" id="">
                            <option value="Natural">Natural</option>
                            <option value="HumanStored"> HumanStored</option>
                            <option value="OnDemand">OnDemand</option>
                        </select>
                    </div>
                </div>
                <!-- row 4 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class=" col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="irrigationCountMethod" class="form-control" id="irrigationCountMethod " />
                            <label for="irrigationCountmthoded" class="form-label textOverflow">IrrigationCount Method</label>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="storageMethod" class="form-control" id="storageMethod" />
                            <label for="storageMethod" class="form-label">Storage Method</label>
                        </div>
                    </div>
                </div>
                <!-- row 5 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="fertilizerType" class="form-control" id="fertilizerType" />
                            <label for="fertilizerType" class="form-label">fertilizer Type</label>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="selection_five" class="form-control" id="exampleFormControlInput1" placeholder="selection...">
                            <label for="selection_five" class="form-label">Product Category</label>
                        </div>
                    </div>
                </div>
                <!-- row 6 -->
                <!-- row 7 -->
                <div class="row justify-content-between ">
                    <!-- 1 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex ">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="insecticideName" class="form-control" id="insecticideName" />
                            <label for="insecticideName" class="form-label">Insecticide Name</label>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex ">
                        <div class="form-outline form-group" id="">
                            <input type="text" name="irrigationMethod" class="form-control" id="irrigationMethod" placeholder="">
                            <label for="irrigationMethod" class="form-label">Irrigation Method </label>
                        </div>
                    </div>
                </div>
                <!-- row 8 -->
                <div class="row justify-content-between ">
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">

                        <div class="form-check-inline ">
                            <h5 class="label-inline textOverflow">Government Funded:</h5>
                        </div>
                        <!--used -->
                        <div class="form-check   ">
                            <input class="form-check-input hiden" type="radio" name="isGovernmentFunded" id="isGovernmentFunded" value="true" />
                            <label class="form-check-label" for="isGovernmentFunded">Yes</label>
                        </div>
                        <!--unused -->
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" value="false" id="isnotGovernmentFunded" name="isGovernmentFunded" checked />
                            <label class="form-check-label" for="isnotGovernmentFunded"> False </label>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-sm-6 mt-3 flex-column form-group d-flex">
                        <div class="form-check-inline ">
                            <h5 class="label-inline textOverflow">has Greenhouse:</h5>
                        </div>
                        <!--used -->
                        <div class="form-check form-check-inline offset-xl-5">
                            <input class="form-check-input hiden" type="radio" name="hasGreenhouse" id="hasGreenhouse" value="true" />
                            <label class="form-check-label" for="hasGreenhouse">Yes</label>
                        </div>
                        <!--unused -->
                        <div class="form-check form-check-inline offset-xl-5">
                            <input class="form-check-input" type="radio" value="false" id="nothasGreenhouse" name="hasGreenhouse" checked />
                            <label class="form-check-label" for="nothasGreenhouse"> No </label>
                        </div>
                    </div>
                </div>
                <!-- row 9 -->
                <div class="row justify-content-between   mt-3"></div>
                <button class="btn btn-primary  "><i class="fa-solid fa-plus"></i>Add</button>
            </form>
        </div>
    </div>
</div>