@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-start" id="land" style="background-color:#F3F4F4 !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Add Land</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">

        <form class=" mt-3 ">
            <!-- 2 column puts for the name and Land area-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Required Land Information
                </h3>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="land_name" name="land_name" class="form-control" />
                        <label class="form-label" for="land_name">Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="land_area" name="land_area" class="form-control" />
                        <label class="form-label" for="land_area">Land Area</label>
                    </div>
                </div>

                <div class="  mt-4 ">
                    <div class="form-outline">
                        <input type="text" class="form-control" name="land_address" id="land_address" />
                        <label for="land_address" class="form-label">Land Address</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="land_latitude" name="land_latitude" class="form-control" />
                        <label class="form-label" for="land_latitude">Coordinate Latitude</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="land_longitude" name="land_longitude" class="form-control" />
                        <label class="form-label" for="land_longitude">Coordinate Longitude</label>
                    </div>
                </div>
            </div>

            <!-- Land usable or not -->
            <div class="form-check-inline">
                <h5 class="inline">Land usable:</h5>
            </div>
            <!--usable -->
            <div class="form-check form-check-inline">
                <input class="form-check-input hiden" type="radio" name="usable" id="usable" value="true" checked />
                <label class="form-check-label" for="usable">Yes</label>
            </div>
            <!--unusable -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="false" id="unusable" name="usable" />
                <label class="form-check-label" for="unusable"> False </label>
            </div>

            <!--land using or not-->
            <div class="form-check-inline">
                <h5 class="inline">Land used:</h5>
            </div>
            <!--used -->
            <div class="form-check form-check-inline">
                <input class="form-check-input hiden" type="radio" name="used" id="used" value="true" />
                <label class="form-check-label" for="used">Yes</label>
            </div>
            <!--unused -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="false" id="unused" name="used" checked />
                <label class="form-check-label" for="unused"> False </label>
            </div>

            <button type="submit" class="btn btn-primary  w-100   mb-4 mt-4">Add</button>
        </form>
    </div>
</div>

<div class="container-fluid mt-3">

    <a class="text-dark fw-bold text-decoration-none" role="button" data-bs-toggle="offcanvas" data-bs-target="#land">
        <i class="fa-solid fa-plus"></i>  Add Land
    </a>
</div>