@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="offcanvas offcanvas-start" id="animal_product" style="background-color:#F3F4F4 !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Animal Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">

        <form class=" mt-3 ">
            <!-- 2 column puts for the National number and Phome Number-->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Add New Animal  Product
                </h3>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="">
                        <label class="form-label" for="product_name">Name</label>
                        <input type="number" id="product_name" name="product_name" placeholder="Ali..." class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <label class="form-label" for="Period_Taken">Period Taken</label>
                        <input type="number" id="Period_Taken" name="Period_Taken" placeholder="20 days" class="form-control" />
                    </div>
                </div>
            </div>

            <div class=" mb-4">
                <div class="">
                    <label for="product_quantity" class="form-label">Quantity</label>
                    <input type="text" class="form-control" name="product_quantity" placeholder="100Kg" id="product_quantity" />
                </div>
            </div>

            <!-- selectinput for Unit -->
            <div class="mb-4">
                <label for="product_unit" class="form-label">Product Unit</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Unit</option>
                    <option value="1">kg</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <!-- select animal group Producer -->

            <div class=" mb-4">
                <label for="animal_group" class="form-label">Producer</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Animal Group Producer</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary  mb-4 mt-4">Add</button>
        </form>
    </div>
</div>

<div class="container-fluid mt-3">

    <a class="text-dark fw-bold text-decoration-none" role="button" type="button" data-bs-toggle="offcanvas" data-bs-target="#animal_product">
        <i class="fa-solid fa-plus"></i>  Add animal product Info
    </a>
</div>  