@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="container">
        Land link <a asp-area="" asp-controller="Land" asp-action="Index">Land Page</a>
    </div>

    <div class="container">
        Land link <a asp-area="" asp-controller="LandProduct" asp-action="Index">Land Product Page</a>
    </div>

    <div class="container">
        Land link <a asp-area="" asp-controller="LandProductExpense" asp-action="Index">Land Product Expense Page</a>
    </div>
    <div class="container">
        Land link <a asp-area="" asp-controller="Season" asp-action="Index">Season Page</a>
    </div>
    <div class="container">
        Land link <a asp-area="" asp-controller="LandProductUnit" asp-action="Index">Land Product Unit Page </a>
    </div>
</div>