@model APSS.Web.Mvc.Models.AnimalGroup
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<form class=" mt-3 " method="post" asp-action="Privacy">
    <!-- 2 column puts for the National number and Phome Number-->
    <div class="center d-flex justify-content-center mb-3 ">
        <h3 class="text-decoration-underline">
            Required Information
        </h3>
    </div>
    <!-- Text input for account name-->
    <div class="form-outline mb-4">
        <input type="text" value="@Model.Type" asp-for="Type" class="form-control" />
        <label class="form-label" asp-for="Type"></label>
    </div>
    <!-- Text input for AccessLevel -->
    <div class="form-outline mb-4">
        <input type="text" asp-for="Quantity" value="@Model.Quantity" name="account-password" class="form-control" />
        <label class="form-label" asp-for="Quantity"></label>
    </div>
    <!-- account Permission -->
    <div class="form-check-inline">
        <h5 class="inline">Permission:</h5>
    </div>
    <!--read Permission -->
    <div class="form-check form-check-inline">
        <input class="form-check-input hiden" type="checkbox" name="read" id="read" value="read" checked />
        <label class="form-check-label" for="read">Read</label>
    </div>
    <!--write Permission -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="write" id="write" name="gender" />
        <label class="form-check-label" for="write"> Write </label>
    </div>
    <!--update Permission -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="update" id="update" name="update" />
        <label class="form-check-label" for="update"> Update </label>
    </div>            <!--delete Permission -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="delete" id="delete" name="delete" />
        <label class="form-check-label" for="delete"> Delete </label>
    </div>
    <!--full Permission -->
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="full" id="full" name="full" />
        <label class="form-check-label" for="full"> Full </label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary w-100 mb-4 mt-4">Add</button>
</form>