body {
    background-color: #F3F4F4 !important;
    color: #334E68;
    height: 100%;
}

html, body {
    height: 100%;
}

#side_nav {
    background-color: #F3F4F4;
    min-width: 270px;
    max-width: 270px;
    transition: all 0.5s;
    width: 270px;
}

.other-systems div {
    background-color: #1783D2;
    padding: 10px;
}

    .other-systems div a {
        color: white;
    }

.other-systems {
    background-color: white;
}

    .other-systems div a:hover {
        background-color: #F3F4F4;
        color: black !important;
    }

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    color: #fff;
    border-width: 2px;
}

.sidebar li.active {
    background: #DBE4F3;
    border-radius: 8px;
}

    .sidebar li.active a, .sidebar li.active a:hover {
        color: #1783D2;
        font-weight: bold;
    }

.sidebar li a {
    color: #829AB1;
    font-weight: 600;
    padding: 15px;
}

@media(max-width:768px) {
    #side_nav {
        margin-left: -270px;
        min-height: 100vh;
        z-index: 1;
    }

    .content {
        margin-left: 0;
        position: absolute;
    }

    #account-manage {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    #side_nav {
        margin-left: 0;
        min-height: 100vh;
        z-index: 1;
    }

    .content {
        margin-right: 0;
        position: static;
    }

    #account-manage {
        display: none;
    }
}

/*@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #side_nav {
        margin-left: 0;
        min-height: 100vh;
        z-index: 1;
    }

    .content {
        margin-left: 22.0%;
    }

    #account-manage {
        display: none;
    }
}
*/
#side_nav.active {
    margin-left: 0;
}

#toggle_menu {
    display: none;
}

.T-Color-custom {
    color: #1783D2;
}

.hide_menu {
    display: none;
}

.sidebar ul li a {
    font-size: 16px;
}

.btn-color {
    background-color: #186FAF !important;
}

.form-layout {
    border: 1.5px #1B73B3 solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #F3F4F4;
}

.font-color {
    color: #334E68 !important;
    font-weight: 600;
    margin-bottom: 5px !important;
}

.dis {
    display: block;
    color: red;
}

#maintContent {
    outline-offset: 400px;
}
/* input[type="text"], input[type="number"],input[type="tel"],input[type="password"]{
    background-color: #F8F8F8 !important;
    border: 1px #829AB1 solid  !important;
} */
/* input[type="number"]{
    background-color: #F8F8F8 !important;
    border: 1px #829AB1 solid  !important;
}
input[type="tel"]{
    background-color: #F3F4F4 !important;
    border: 1px #829AB1 solid  !important;
}
input[type="password"]{
    background-color: #F8F8F8 !important;
    border: 1px #829AB1 solid  !important;
} */
button {
}
/* select{
    background-color: #F3F4F4 !important;
    border: 1px #829AB1 solid  !important;
} */

/* thable style */
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-wrapper-scroll-x {
    display: block;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

.system1-show {
    display: none;
}

.rotation {
    transform: rotate(20deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

nav ul li div a {
    color: black !important;
}

nav ul li div a {
    color: #829AB1 !important;
}

    nav ul li div a:hover {
        color: #1783D2 !important;
        font-weight: bold;
    }

.media-dropdown a {
    color: #145fa5 !important;
    background-color: #fff !important;
}

#media-system-name {
    text-overflow: clip;
    text-overflow: ellipsis ellipsis;
    text-overflow: ellipsis " [..]";
}

.system-description {
    font-size: 10px !important;
}

#box1, #box2, #box3, #box, #box4, #box5, #box6, #box7, #box8, #box9, #AddIcon {
    display: none;
}

input, select {
    /*background-color: #EFF3F7 !important;*/
    background-color: #F3F4F4 !important;
}