@model APSS.Web.Dtos.ProductExpenseDto

<div class="container-fluid px-3 py-3 mx-sm-2   mx-lg-4 my-1">
    <div class="col-sm-6 col-lg-5">
        <div class="d-flex justify-content-center">
            <h4 style=""> Add New Expense</h4>
        </div>
        <form class="" onsubmit="" method="Post" asp-controller="ProductExpense" asp-action="AddExpense">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="row justify-content-between ">
                <!-- 1 -->
                <div class=" my-3 " id="">
                    <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Type" />
                    <label asp-for="Type" class=""> </label>
                </div>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <!-- 2 -->
                <div class="  " id="">
                    <div class="form-floating">
                    <input type="number" class="form-control" asp-for="Price" />
                    <label asp-for="Price" class="l"></label>
                </div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-between   my-4"></div>
            <button class="btn btn-primary w-25 "><i class="fa-solid fa-plus "></i> <span>Edit</span></button>
            <a onClick="history.go(-1); return false;" class="btn btn-link w-25  mx-2" style="background-color:#DCEEFB">Cancel</a>
        </form>
    </div>
</div>