@model APSS.Web.Dtos.ProductExpenseDto

<div class="container-fluid px-3 py-3 mx-sm-2   mx-lg-4 my-1">
    <div class="col-sm-6 col-lg-5">
        <div class="d-flex justify-content-center">
            <h4 style="">تعديل تكلفة</h4>
        </div>
        <form class="" onsubmit="" method="Post" asp-controller="ProductExpense" asp-action="AddExpense">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="row justify-content-between ">
                <!-- 1 -->
                <div class=" my-3 " id="">
                    <span class="text-danger">*</span>
                    <label asp-for="Type" class="form-label "> </label>
                    <input type="text" class="form-control" asp-for="Type" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <!-- 2 -->
                <div class="  " id="">
                    <span class="text-danger">*</span>
                    <label asp-for="Price" class="form-label"></label>
                    <input type="number" class="form-control" asp-for="Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-between   my-4"></div>
            <button class="btn btn-primary w-25 "> <span>تعديل</span></button>
            <a asp-route-id="@Model.ProductId" asp-controller="ProductExpense" asp-action="Index" class="btn btn-link w-25  mx-2" style="background-color:#DCEEFB">الغاء</a>
        </form>
    </div>
</div>