@model APSS.Web.Dtos.ProductExpenseDto
@{
    ViewData["title"] = "Update Product Expense Page";
}
<div class="container-fluid">
    <div class="col-sm-12 mx-lg-4 mx-sm-2 col-lg-5">
        <form class=" mt-3 align-items-center needs-validation" method="post" asp-action="Update" novalidate>
            <!--  column puts for the Land Product Expense Type -->
            <div class="center d-flex justify-content-center mb-3 ">
                <h3 class=" ">
                    Update Expense
                </h3>
            </div>
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="text" asp-for="Type" class="form-control" placeholder=" " />
                        <label class="form-label" asp-for="Type"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Type"></span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="ProductId" />
            <div class=" mb-3">
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <div class="form-floating col">
                        <input type="number" asp-for="Price" class="form-control" placeholder=" " />
                        <label class="form-label" asp-for="Price"></label>
                        <div class="invalid-feedback">
                            <span asp-validation-for="Price"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>
        </form>
    </div>
</div>